#fmfw_config_servers, #fmfw_objects, #fmfw_services, #fmfw_time,
#fmfw_config_policies {
	display: none;
}

.tcp-flags th, .tcp-flags td {
	width: 1em;
	font-size: 11px;
	padding: 0;
}

.tcp-flags th, .list-toggle th {
	text-align: center;
}

.tcp-flags input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 10px;
}

.list-toggle input[type="button"] {
	padding: 3px 8px;
	margin-bottom: 5px;
}
.list-toggle select {
	width: 150px;
	height: 100px;
	overflow: scroll;
}
.list-toggle td {
	text-align: center;
	vertical-align: middle;
}
.list-toggle th, .list-toggle td {
	font-size: 11px;
	padding: 0;
}

.list-toggle td.switch-buttons {
	padding: 5px;
}

table.legend {
	margin: 3em 0;
	font-size: 11px;
}
table.legend tr td {
	padding: 2px 6px;
}
table.legend tr td span {
	margin-left: 5px;
}

p.checkbox_desc {
	font-size: 10px;
	margin-top: 0;
	margin-left: 3px;
}

.form-table.policy-form td label {
	white-space: normal;
}

.pass {
	color: var(--icon-secure);
}
.block {
	color: var(--icon-delete);
}
.reject {
	color: #e19419;
}

#stack-label {
	font-weight: bold;
	padding: 3px;
	font-size: 8pt;
}
select.select-stack {
	width: 150px;
	height: 200px;
	margin-top: 5px;
}
select.select-stack option {
	padding: 3px;
}
table tbody tr td.options {
	text-align: right;
}
table tbody tr td.options i {
	margin-left: 4px;
}

table[name="policies"] tbody tr td {
	white-space: nowrap;
}
table[name="policies"] tbody tr td:nth-last-child(2) {
	white-space: normal;
}

table.global-search-results thead {
	font-size: 12px;
}
table.global-search-results thead th {
	padding: 5px;
}
table.global-search-results thead th:first-child {
	padding-left: 2em;
}

div .global-search-results {
	width: 700px;
}

.policy-negate div:first-child {
	padding-right: 8px;
}


/* Dark mode */
@supports(color: light-dark(#fff, #000)) {
	.reject {
		color: light-dark(#e19419, #ffb743);
	}
}
