@supports(color: light-dark(#fff, #000)) {
	.Dark {
		color-scheme: dark;

		/** Disabled drop down */
		.select2-container.select2-container-disabled .select2-choice {
			background-color: #4a4a4a; /** f4f4f4 */
			border-color: #666666; /** #ddd */
		}
		.select2-container.select2-container-disabled .select2-choice .select2-arrow {
			background-color: #4a4a4a;
		}

		/** Drop down */
		.select2-container .select2-choice {
			border-color: #5b5b5b; /** #aaa */
			color: #ddd; /** #444 */
			background-color: #1d1d1d; /** #eee */
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(0.5, #343434));
			background-image: -webkit-linear-gradient(center bottom, #1d1d1d 0%, #343434 50%);
			background-image: -moz-linear-gradient(center bottom, #1d1d1d 0%, #343434 50%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#343434', endColorstr = '#1d1d1d', GradientType = 0);
			background-image: linear-gradient(to top, #1d1d1d 0%, #343434 50%); /** #eee and #fff */
		}
		.select2-container .select2-choice .select2-arrow {
			border-color: #5b5b5b;
			background: #0f0f0f; /** #ccc */
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(0.6, #1d1d1d));
			background-image: -webkit-linear-gradient(center bottom, #0f0f0f 0%, #1d1d1d 60%);
			background-image: -moz-linear-gradient(center bottom, #0f0f0f 0%, #1d1d1d 60%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1d1d1d', endColorstr = '#0f0f0f', GradientType = 0);
			background-image: linear-gradient(to top, #0f0f0f 0%, #1d1d1d 60%); /** #ccc and #eee */
		}

		.select2-drop {
			background: #343434;
			color: var(--primary-body-text);
			border-color: #5b5b5b;
			-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
			box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		}

		.select2-dropdown-open .select2-choice {
			-webkit-box-shadow: 0 1px 0 #343434 inset;
			box-shadow: 0 1px 0 #343434 inset;
			background-color: #1d1d1d;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #343434), color-stop(0.5, #1d1d1d));
			background-image: -webkit-linear-gradient(center bottom, #343434 0%, #1d1d1d 50%);
			background-image: -moz-linear-gradient(center bottom, #343434 0%, #1d1d1d 50%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d1d1d', endColorstr='#343434', GradientType=0);
			background-image: linear-gradient(to top, #343434 0%, #1d1d1d 50%);
		}

		/** Multi-drop down */
		.select2-container-multi .select2-choices {
			border-color: #5b5b5b;
			background-color: #343434;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #1d1d1d), color-stop(15%, #343434));
			background-image: -webkit-linear-gradient(top, #1d1d1d 1%, #343434 15%);
			background-image: -moz-linear-gradient(top, #1d1d1d 1%, #343434 15%);
			background-image: linear-gradient(to bottom, #1d1d1d 1%, #343434 15%);
		}

		.select2-container-multi .select2-choices .select2-search-choice {
			color: var(--primary-body-text);
			border-color: #5b5b5b;
			-webkit-box-shadow: 0 0 2px #343434 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
			box-shadow: 0 0 2px #343434 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
			background-color: #242424;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d1d1d', endColorstr='#454545', GradientType=0);
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #454545), color-stop(50%, #333333), color-stop(52%, #2c2c2c), color-stop(100%, #1d1d1d));
			background-image: -webkit-linear-gradient(top, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
			background-image: -moz-linear-gradient(top, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
			background-image: linear-gradient(to bottom, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
		}

		/** Drop down with search */
		.select2-search input {
			border-color: #5b5b5b;
			background: #343434 url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px;
			background: url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #343434), color-stop(0.99, #1d1d1d));
			background: url('/fm-includes/extra/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #343434 85%, #1d1d1d 99%);
			background: url('/fm-includes/extra/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #343434 85%, #1d1d1d 99%);
			background: url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px, linear-gradient(to bottom, #343434 85%, #1d1d1d 99%) 0 0;
		}
	}
	.default-theme {
		/* Common color changes */
		--top-header-bg: light-dark(#3b4b58, #2c3236);
		--top-header-border: light-dark(#383e43, #393939);
		--top-header-divider: light-dark(#56575c, #5c5956);
		--top-header-search-bg: light-dark(#585f76, var(--form-field-bg));
		--top-header-search-border: light-dark(#6b7388, var(--form-input-border));
	
		--menu-bg: #2f3235;
		--menu-divider: #3b4b58;
		--menu-select-highlight: light-dark(#3b8dbc, #2d7fae);
		--menu-expanded-bg: light-dark(#e4e4eb, #535353);
		--menu-expanded-text: light-dark(var(--menu-bg), var(--menu-link));
		--submenu-hover: #566a84;

		--tooltip-bg: #5e85a4;
		--tooltip-text: #fff;

		--info-icon: light-dark(#3a62a3, #a0b8df);
	
		/* Less common changes */
		--background-default: light-dark(#fbfbfb, #3f3f3f);
		--primary-body-text: light-dark(#333, #eaeaea);
		--background-white: #fff;
		--primary-link-text: light-dark(#3a62a3, #73c5ea);
		--icon-link: var(--primary-link-text);
		--icon-delete: light-dark(#c11515, #ffacac);
		--icon-secure: light-dark(#09a30c, #5fd661);
		--mini-icon: light-dark(#c0c0c0, #d8d8d8);

		--top-header-text: #ccc;
		--top-header-link: #fff;
	
		--menu-text: #fff;
		--menu-link: #dfdfdf;
		--menu-submenu-bg: light-dark(rgba(70,70,70,0.95), rgba(42,42,42,0.95));
		--menu-footer-link: #888888;
		--menu-footer-donate: #ff77a9;
		--menu-acct-info-actions: #b5b5b5;
		--menu-acct-info-actions-hover: #d1d1d1;
		--menu-main-select-bg: #464646;
		--menu-main-select-text: #fff;
		--menu-main-badge-bg: #8f8f8f;
		--menu-expanded-badge-bg: var(--menu-text);
		--menu-expanded-select-badge-bg: var(--menu-text);
	
		--page-title-text: light-dark(#333, #fff);
		--page-title-line: light-dark(#cfcfcf, #5c5c5c);

		--tab-unselected-bg: #fff;
		--tab-unselected-text: light-dark(#7f848c, #a9b1bf);
		--tab-selected-bg: light-dark(#666, #dedede);
		--tab-selected-text: light-dark(#070808, #e2eeff);
	
		--table-even-rows-bg: light-dark(#f2f2f2, #4d4c4c);
		--table-odd-rows-bg: light-dark(#fff, #565656);
	
		--table-rows-build-bg: light-dark(#E6F4F9, #425860);
		--table-rows-build-highlight: #2ea2cc;
		--table-rows-attn-bg: light-dark(#f5ebeb, #573a3a);
		--table-rows-attn-highlight: #CB3739;
		--table-rows-notice-bg: light-dark(#fff8e5, #857a5a);
		--table-rows-notice-hightlight: #ffb900;
		--table-rows-ok-bg: light-dark(#e6f6e6, #3d5f3d);
		--table-rows-ok-hightlight: #00cc00;
	
		--table-header-bg: light-dark(#464646, #2e2e2e);
		--table-header-text: #f1f1f1;
		--table-header-border: light-dark(#fff, var(--top-header-bg));
		--table-header-sorted: var(--menu-select-highlight);
	
		--table-rows-grabbing-border: #dfdfdf;

		--form-popup-primary-color: light-dark(#f5f5f5, var(--menu-bg));
		--form-popup-secondary-color: light-dark(#dcdcdc, #262626);
		--form-popup-title-primary-color: var(--primary-body-text);
		--form-popup-title-secondary-color: light-dark(#fff, #bebebe);
		--form-popup-bg: light-dark(var(--background-default), var(--menu-bg));
		--form-input-border: light-dark(#dfdfdf, #4c4c4c);
		--form-input-disabled: light-dark(#aeaeae, #848484);
		--form-input-disabled-primary: light-dark(#fbfbfb, #5f5e5e);
		--form-input-disabled-secondary: var(--form-popup-primary-color);
		--form-field-bg: light-dark(#fff, #616161);
		--form-label-text: var(--primary-body-text);
		--form-field-text: light-dark(var(--primary-body-text), #f0f0f0);
		--placeholder: light-dark(#bcbcbc, #9c9c9c);
		--checkbox-background: light-dark(var(--background-white), #878787);
		--checkbox-selected-background: var(--menu-select-highlight);
		--checkbox-border: var(--form-input-border);
		--checkmark-color: light-dark(var(--background-white), var(--top-header-bg));

		--button-primary-primary: #53a4e2;
		--button-primary-secondary: #496e99;
		--button-alert-primary: light-dark(#e40a0a, #fca3a3);
		--button-alert-secondary: #9f0202;
		--button-green-primary: #74ad5a;
		--button-green-secondary: #5b9140;
	
		--settings-divider: var(--page-title-line);

		--eye-attention-unselected: light-dark(#888, #e4e4e4);
		--eye-attention-selected: var(--menu-select-highlight);
	}





	.form-table tr.pwdhint th, .form-table tr.pwdhint td {
		color: light-dark(#666, var(--primary-body-text));
	}
	#response,
	#popup_response {
		moz-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
		-webkit-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
		-khtml-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
		box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
	}
	#response.attention {
		border-color: light-dark(#f0b1b1, #9d4444);
		background-color: light-dark(#f7cdcd, #915d5d);
		color: light-dark(#000, #d4d4d4);
	}
	.manage_form_contents {
		-webkit-box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
		-moz-box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
		box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
	}
	.popup-header {
		border-color: light-dark(#aeaeae, var(--page-title-line));
		border-top-color: light-dark(#b7b7b7, var(--page-title-line));
		border-bottom-color: light-dark(#989898, #515151);
	}
	.popup-footer {
		border-top: 1px solid light-dark(#ddd, var(--page-title-line));
		border-top-color: light-dark(#b7b7b7, #515151);
	}
	.button {
		border-color: light-dark(#aeaeae, #3e3e3e);
		border-top-color: light-dark(#b7b7b7, #454545);
		border-bottom-color: light-dark(#989898, #2f2f2f);
	}
	input.disabled,
	a.button.disabled {
		border-color: light-dark(#d9d9d9, #515151);
	}
	#help {
		background-color: light-dark(#FEFEFE, #3b3b3b);
		border-left: 1px light-dark(#DDD, #202020) solid;
		-webkit-box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
		-khtml-box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
		box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
	}
	#help_file_container li a.list_title {
		color: light-dark(#000, #d5d5d5);
	}
	#pagination a {
		border: solid 1px light-dark(#c0c0c0, #000);
		background: light-dark(#e9e9e9, #232323);
		box-shadow: inset 0px 1px 0px light-dark(rgba(255,255,255, .8), rgba(103,103,103,.8)), 0px 1px 3px rgba(0,0,0, .1);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(light-dark(#f8f8f8, #434343)), to(light-dark(#e9e9e9, #232323)));
		background: -moz-linear-gradient(0% 0% 270deg,light-dark(#f8f8f8, #434343), light-dark(#e9e9e9, #232323));
	}
	#pagination a:hover {
		background: light-dark(#fefefe, #6d6d6d);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(light-dark(#fefefe, #6d6d6d)), to(light-dark(#f0f0f0, #313131)));
		background: -moz-linear-gradient(0% 0% 270deg,light-dark(#fefefe, #6d6d6d), light-dark(#f0f0f0, #313131));
	}
	
}
