:root {
	color-scheme: light dark;

	.select2-results .select2-highlighted {
		background: var(--menu-select-highlight);
		color: var(--menu-main-select-text);
	}
}

/* Define default-theme here */
.default-theme {
	/* Common color changes */
	--top-header-bg: light-dark(#3b4b58, #2c3236);
	--top-header-border: light-dark(#383e43, #393939);
	--top-header-divider: light-dark(#56575c, #5c5956);
	--top-header-search-bg: light-dark(#585f76, var(--form-field-bg));
	--top-header-search-border: light-dark(#6b7388, var(--form-input-border));

	--menu-bg: #2f3235;
	--menu-divider: #3b4b58;
	--menu-select-highlight: light-dark(#3b8dbc, #2d7fae);
	--menu-expanded-bg: light-dark(#e4e4eb, #535353);
	--menu-expanded-text: light-dark(var(--menu-bg), var(--menu-link));
	--submenu-hover: #566a84;

	--tooltip-bg: #5e85a4;
	--tooltip-text: #fff;

	--info-icon: light-dark(#3a62a3, #a0b8df);

	/* Less common changes */
	--background-default: light-dark(#fbfbfb, #3f3f3f);
	--primary-body-text: light-dark(#333, #eaeaea);
	--background-white: #fff;
	--primary-link-text: light-dark(#3a62a3, #73c5ea);
	--icon-link: var(--primary-link-text);
	--icon-delete: light-dark(#c11515, #e96565);
	--icon-secure: light-dark(#09a30c, #5fd661);
	--mini-icon: light-dark(#c0c0c0, #d8d8d8);

	--top-header-text: #ccc;
	--top-header-link: #fff;

	--menu-text: #fff;
	--menu-link: #dfdfdf;
	--menu-submenu-bg: light-dark(rgba(70,70,70,0.95), rgba(42,42,42,0.95));
	--menu-footer-link: #888888;
	--menu-footer-donate: #ff77a9;
	--menu-acct-info-actions: #b5b5b5;
	--menu-acct-info-actions-hover: #d1d1d1;
	--menu-main-select-bg: #464646;
	--menu-main-select-text: #fff;
	--menu-main-badge-bg: #8f8f8f;
	--menu-expanded-badge-bg: var(--menu-text);
	--menu-expanded-select-badge-bg: var(--menu-text);

	--page-title-text: light-dark(#333, #fff);
	--page-title-line: light-dark(#cfcfcf, #5c5c5c);

	--tab-unselected-bg: #fff;
	--tab-unselected-text: light-dark(#7f848c, #a9b1bf);
	--tab-selected-bg: light-dark(#666, #dedede);
	--tab-selected-text: light-dark(#070808, #e2eeff);

	--table-even-rows-bg: light-dark(#f6f6f6, #4d4c4c);
	--table-odd-rows-bg: light-dark(#fff, #565656);

	--table-rows-build-bg: light-dark(#E6F4F9, #425860);
	--table-rows-build-highlight: #2ea2cc;
	--table-rows-attn-bg: light-dark(#f5ebeb, #573a3a);
	--table-rows-attn-highlight: #CB3739;
	--table-rows-notice-bg: light-dark(#fff8e5, #86865f);
	--table-rows-notice-hightlight: #ffb900;
	--table-rows-ok-bg: light-dark(#e6f6e6, #3d5f3d);
	--table-rows-ok-hightlight: #00cc00;

	--table-header-bg: light-dark(#464646, #2e2e2e);
	--table-header-text: #f1f1f1;
	--table-header-border: light-dark(#fff, var(--top-header-bg));
	--table-header-sorted: var(--menu-select-highlight);

	--table-rows-grabbing-border: #dfdfdf;

	--form-popup-primary-color: light-dark(#f5f5f5, var(--menu-bg));
	--form-popup-secondary-color: light-dark(#dcdcdc, #262626);
	--form-popup-title-primary-color: var(--primary-body-text);
	--form-popup-title-secondary-color: light-dark(#fff, #bebebe);
	--form-popup-bg: light-dark(var(--background-default), var(--menu-bg));
	--form-input-border: light-dark(#dfdfdf, #4c4c4c);
	--form-input-disabled: light-dark(#aeaeae, #848484);
	--form-input-disabled-primary: light-dark(#fbfbfb, #5f5e5e);
	--form-input-disabled-secondary: var(--form-popup-primary-color);
	--form-field-bg: light-dark(#fff, #616161);
	--form-label-text: var(--primary-body-text);
	--form-field-text: light-dark(var(--primary-body-text), #f0f0f0);
	--placeholder: light-dark(#bcbcbc, #9c9c9c);
	--checkbox-background: light-dark(var(--background-white), #878787);
	--checkbox-selected-background: var(--menu-select-highlight);
	--checkbox-border: var(--form-input-border);
	--checkmark-color: light-dark(var(--background-white), var(--top-header-bg));

	--button-primary-primary: #53a4e2;
	--button-primary-secondary: #496e99;
	--button-alert-primary: light-dark(#e40a0a, #fca3a3);
	--button-alert-secondary: #9f0202;
	--button-green-primary: #74ad5a;
	--button-green-secondary: #5b9140;

	--settings-divider: var(--page-title-line);

	--eye-attention-unselected: light-dark(#888, #e4e4e4);
	--eye-attention-selected: var(--menu-select-highlight);
}

/* Disable theme mode selector for browsers that don't support light-dark() */
@supports not (color: light-dark(#fff, #000)) {
	.theme-mode-selector {
		display: none;
	}
}

.Light {
	color-scheme: light;
}

@supports (color: light-dark(#fff, #000)) {
	.Dark {
		color-scheme: dark;

		/** Disabled drop down */
		.select2-container.select2-container-disabled .select2-choice {
			background-color: #4a4a4a; /** f4f4f4 */
			border-color: #666666; /** #ddd */
		}
		.select2-container.select2-container-disabled .select2-choice .select2-arrow {
			background-color: #4a4a4a;
		}

		/** Drop down */
		.select2-container .select2-choice {
			border-color: #5b5b5b; /** #aaa */
			color: #ddd; /** #444 */
			background-color: #1d1d1d; /** #eee */
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(0.5, #343434));
			background-image: -webkit-linear-gradient(center bottom, #1d1d1d 0%, #343434 50%);
			background-image: -moz-linear-gradient(center bottom, #1d1d1d 0%, #343434 50%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#343434', endColorstr = '#1d1d1d', GradientType = 0);
			background-image: linear-gradient(to top, #1d1d1d 0%, #343434 50%); /** #eee and #fff */
		}
		.select2-container .select2-choice .select2-arrow {
			border-color: #5b5b5b;
			background: #0f0f0f; /** #ccc */
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0f0f0f), color-stop(0.6, #1d1d1d));
			background-image: -webkit-linear-gradient(center bottom, #0f0f0f 0%, #1d1d1d 60%);
			background-image: -moz-linear-gradient(center bottom, #0f0f0f 0%, #1d1d1d 60%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#1d1d1d', endColorstr = '#0f0f0f', GradientType = 0);
			background-image: linear-gradient(to top, #0f0f0f 0%, #1d1d1d 60%); /** #ccc and #eee */
		}

		.select2-drop {
			background: #343434;
			color: var(--primary-body-text);
			border-color: #5b5b5b;
			-webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
			box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
		}

		.select2-dropdown-open .select2-choice {
			-webkit-box-shadow: 0 1px 0 #343434 inset;
			box-shadow: 0 1px 0 #343434 inset;
			background-color: #1d1d1d;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #343434), color-stop(0.5, #1d1d1d));
			background-image: -webkit-linear-gradient(center bottom, #343434 0%, #1d1d1d 50%);
			background-image: -moz-linear-gradient(center bottom, #343434 0%, #1d1d1d 50%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d1d1d', endColorstr='#343434', GradientType=0);
			background-image: linear-gradient(to top, #343434 0%, #1d1d1d 50%);
		}

		/** Multi-drop down */
		.select2-container-multi .select2-choices {
			border-color: #5b5b5b;
			background-color: #343434;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #1d1d1d), color-stop(15%, #343434));
			background-image: -webkit-linear-gradient(top, #1d1d1d 1%, #343434 15%);
			background-image: -moz-linear-gradient(top, #1d1d1d 1%, #343434 15%);
			background-image: linear-gradient(to bottom, #1d1d1d 1%, #343434 15%);
		}

		.select2-container-multi .select2-choices .select2-search-choice {
			color: var(--primary-body-text);
			border-color: #5b5b5b;
			-webkit-box-shadow: 0 0 2px #343434 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
			box-shadow: 0 0 2px #343434 inset, 0 1px 0 rgba(0, 0, 0, 0.05);
			background-color: #242424;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d1d1d', endColorstr='#454545', GradientType=0);
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #454545), color-stop(50%, #333333), color-stop(52%, #2c2c2c), color-stop(100%, #1d1d1d));
			background-image: -webkit-linear-gradient(top, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
			background-image: -moz-linear-gradient(top, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
			background-image: linear-gradient(to bottom, #454545 20%, #333333 50%, #2c2c2c 52%, #1d1d1d 100%);
		}

		/** Drop down with search */
		.select2-search input {
			border-color: #5b5b5b;
			background: #343434 url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px;
			background: url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #343434), color-stop(0.99, #1d1d1d));
			background: url('/fm-includes/extra/select2/select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #343434 85%, #1d1d1d 99%);
			background: url('/fm-includes/extra/select2/select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #343434 85%, #1d1d1d 99%);
			background: url(/fm-includes/extra/select2/select2.png) no-repeat 100% -22px, linear-gradient(to bottom, #343434 85%, #1d1d1d 99%) 0 0;
		}
	}
}

html {
	background: var(--background-default);
	height: 100%;
}

body {
	color: var(--primary-body-text);
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	margin: auto;
	height: 100%;
}

label {
	cursor: pointer;
	position: relative;
	top: -1px;
	color: var(--form-label-text);
}

label.radio {
	top: -3px;
}

input[type="checkbox"] {
	border: 1px solid var(--checkbox-border);
	background: var(--checkbox-background);
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 13px;
	margin: -2px 4px 0 0;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 13px;
	min-width: 13px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
input[type="checkbox"]:checked:before {
	content: "\f00c";
	margin: 0px 0 0 -1px;
	color: var(--checkmark-color);
	float: left;
	width: 13px;
	font: normal normal normal 12px/1 FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="checkbox"]:checked {
	background-color: var(--checkbox-selected-background);
}
input[type="checkbox"]:checked:after {
	color: var(--checkmark-color);
}
input[type="checkbox"].disabled:checked {
	color: var(--form-input-disabled);
	opacity: 0.5;
	background-image: unset;
}
input[type="checkbox"].modules {
	margin-top: 12px;
}
::placeholder {
	color: var(--placeholder);
}

.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

.text-align-right {
	text-align: right;
}

.fm-site-container {
	height: 100%;
}
.fm-header-container {
	flex: 0;
}
.fm-body {
	flex: 1;
	min-height: 0;
}

.flex-row-center,
div.header-container {
	display: flex;
	align-items: center;
}
.flex-apart {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	background-color: var(--menu-select-highlight);
    color: var(--menu-text);
}

#tophead {
	background: var(--top-header-bg);
	color: var(--top-header-text);
	font-size: 8pt;
	height: 4.5em;
	border-bottom: 1px solid var(--top-header-border);
	width: 100%;
	position: relative;
	z-index: 5;
}

#tophead > div.header-container:last-of-type {
	overflow-x: clip;
}
#tophead > div.header-container > div {
	padding: 1em 2em;
}
#tophead div.header-container:first-child {
	margin-left: -8px;
}
#tophead div.header-container:first-child img {
	margin-right: 10px;
}
#tophead > div.header-container > div.module-menu {
	padding: 0 1em 0 0;
}
#tophead div.flex-right {
	flex-direction: row-reverse;
	flex: 1;
}
#tophead > div.flex-left > div {
	border-right-color: var(--top-header-divider);
}
#tophead > div.flex-right > div {
	border-left-color: var(--top-header-divider);
}

#tophead a {
	color: var(--top-header-link);
}

#tophead img {
	max-height: 27px;
	float: left;
	border: none;
}

#tophead span.update_count {
	font-size: 8px;
	position: relative;
	top: -5px;
	color: var(--top-header-link);
}

#logo {
	position: relative;
	margin-left: 2em;
	top: 5px;
}

#menuback {
	position: relative;
	background-color: var(--menu-bg);
	flex: 0 17em;
	font-size: 10pt;
	z-index: 3;
    flex-direction: column;
	color: var(--menu-text);
}
#menuback li:hover > a {
	color: var(--menu-text);
}

#menu {
	width: 100%;
	z-index: 4;
	background-color: var(--menu-bg);
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li, #submenu li {
	list-style: none;
	white-space: nowrap;
	margin: 0;
}

#menu a {
	display: block;
	text-decoration: none;
	color: var(--menu-link);
}

#account_info {
	width: 100%;
    flex-direction: column;
	color: var(--menu-link);
}
#account_info > div {
	width: 100%;
	padding: 15px 0 10px;
	text-align: center;
}
#account_info > div:first-child {
	font-size: 1.8em;
	padding-bottom: 0;
	display: flex;
    align-items: center;
	white-space: nowrap;
	overflow: auto;
}
#account_info > div:first-child span {
	width: 100%;
	padding: 0 10px;
}
#account_info i {
	padding-right: 5px;
}
#account_info_actions {
    flex-direction: row;
    justify-content: space-evenly;
	width: 100%;
}
#account_info_actions a {
	color: var(--menu-acct-info-actions);
}
#account_info_actions a:hover {
	color: var(--menu-acct-info-actions-hover);
}
#account_info p {
	margin: 0;
}
#account_info_actions > div {
	margin-left: -5px;
}
#account_info_actions i {
	width: 23px;
}
#account_info > div:last-child {
	padding: 0;
}
#menuback hr,
#menu_mainitems.module-menu hr {
    border: none;
    border-top: 1px solid var(--menu-divider);
	opacity: .8;
	margin: 1em 1.5em;
}

#menu_footer {
    width: 100%;
	font-size: 9pt;
	background-color: var(--menu-bg);
}
#menu_footer li:hover {
	background-color: #282828;
}
#menu_footer a {
	color: var(--menu-footer-link);
}
#menu_footer a:hover i {
	color: var(--menu-footer-donate);
}

#menu_mainitems {
	text-align: left;
}

#menu_mainitems > ul > li.current > a {
	background-color: var(--menu-main-select-bg);
	color: var(--menu-main-select-text);
	border-color: var(--menu-select-highlight);
}
#menu_mainitems > ul > li.current > a:hover {
	background-color: var(--menu-main-select-bg);
}

#menu_mainitems > ul > li.current > u {
	display: block;
	left: 12.3em;
	top: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid var(--menu-main-select-bg);
	border-right: none;
}
#menu_mainitems > ul > li.current span.menu-badge,
#menu_mainitems > ul > li > ul > li a span.menu-badge {
	background-color: var(--menu-select-highlight);
}
#menu_subitems > ul > li.current > a span.menu-badge,
#menu_mainitems > ul > li > ul > li a:hover span.menu-badge {
	background-color: var(--menu-expanded-badge-bg);
}
#menu_subitems > ul > li:not(.current) > a:hover span.menu-badge {
	background-color: var(--menu-expanded-select-badge-bg);
}

#menu_subitems > ul > li.current span.menu-badge p,
#menu_subitems > ul > li > a:hover span.menu-badge p,
#menu_mainitems > ul > li > ul > li a:hover span.menu-badge p {
	color: var(--menu-bg);
}
#menu_subitems > ul > li.current a:hover > span.menu-badge p {
	color: #000;
}

#menu_subitems {
	background: var(--menu-expanded-bg);
	margin: 0 auto;
}

#menu_subitems a {
	text-decoration: none;
	padding: 6px 5px 6px 15px;
	border: none;
	font-weight: 400;
	border-left: 4px solid transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--menu-expanded-text);
}

#menu_subitems li.current a {
	font-weight: 600;
}
#menu_subitems li.current a,
#menu_subitems a:hover {
	background-color: var(--menu-select-highlight);
	color: var(--menu-text);
}

#menu_mainitems {
	display: block;
	padding: 0;
	margin: 0;
}
#menu_mainitems > ul,
#menu_footer > ul {
	list-style: inside none;
	padding: 0;
	margin: 0;
}
#menu_mainitems > ul > li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
}
#menu_mainitems > ul > li > a,
#menu_footer > ul > li > a {
	outline: none;
	display: block;
	position: relative;
	text-decoration: none;
	border-left: 4px solid transparent;
	padding: 12px 5px 12px 15px;
}
#menu_mainitems ul li.has-sub:hover > a:after {
	top: 0;
	bottom: 0;
}
#menu_mainitems > ul > li.has-sub:hover > a:before {
	top: 18px;
}
#menu_mainitems ul li.has-sub:hover > ul, #menu_mainitems ul li.has-sub:hover > div {
	display: block;
}
#menu_mainitems ul li > ul {
	display: none;
	width: 200px;
	position: absolute;
	padding: 0;
	background-color: var(--menu-submenu-bg);
	z-index: 6;
}
#menu_mainitems > ul > li > a .menu-icon,
#menu_subitems ul li a .menu-icon,
#menu_footer > ul > li > a .menu-icon,
#menu_mainitems ul li > ul li a .menu-icon {
	display: inline-block;
	padding-left: 3px;
	width: 23px;
}
#menu_mainitems > ul > li > a .menu-arrow {
	position: absolute;
	right: 5px;
}
#menu_mainitems > ul > li:hover {
	background: var(--menu-main-select-bg);
}
#menu_mainitems ul li > ul li {
	display: block;
	list-style: inside none;
	padding: 0;
	margin: 0;
	position: relative;
}
#menu_mainitems ul li > ul li a {
	outline: none;
	display: block;
	position: relative;
	margin: 0;
	padding: 12px 5px 12px 20px;
	font-size: 10pt;
	color: var(--menu-text);
	text-decoration: none;
}
#menu_mainitems ul li > ul li a .menu-icon {
	text-align: unset;
}
#menu_mainitems ul li.has-sub > ul li a {
	font-weight: normal;
}
#menu_mainitems > ul > li > ul > li a:hover {
	background-color: var(--submenu-hover);
}
#menu_mainitems.drop-right ul li > ul {
	top: 0;
	left: 17em;
	border-radius: 0 5px 5px 0;
	box-shadow: rgba(10,10,10,0.4) 5px 15px 40px -5px;
}
#menu_mainitems.drop-right ul li > ul li:first-child a {
	border-radius: 0 5px 0 0;
}
#menu_mainitems.drop-right ul li > ul li:last-child a {
	border-radius: 0 0 5px 0;
}
#menu_mainitems.module-menu ul li > ul {
	border-radius: 0 0 5px 5px;
	box-shadow: rgba(10,10,10,0.4) 0 15px 40px 5px;
}
#menu_mainitems ul li > ul.sub-right li a {
	padding: 12px 20px;
}
#menu_mainitems ul li > ul.sub-right {
	right: 0;
	white-space: nowrap;
}

#tophead #menu_mainitems > ul > li > a .menu-icon {
	padding: 0 4px;
	width: unset;
}
#tophead #menu_mainitems ul li.has-sub > a {
	padding: 17px;
	border-left: none;
}
#menu_mainitems.module-menu ul li > ul.sub-right li:last-child a {
	border-radius: 0 0 5px 5px;
}

#subdomain {
	float: left;
	margin: 0;
}

span.menu-badge {
	font-weight: 400;
	font-size: 12px;
	padding: 2px 9px;
	left: 1em;
	position: relative;
	display: inline-block;
	height: 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: var(--menu-select-highlight);
}
span.menu-badge p {
	margin-top: -1px;
	color: var(--menu-text);
}

#menu_mainitems > ul > li > ul > li > a span.menu-badge {
	margin-top: -3px;
	left: 1em;
	right: unset;
	position: relative;
	display: inline-block;
}

h2 {
	color: var(--page-title-text);
	font: normal 24px Georgia, "Times New Roman", Times, serif;
	margin: 5px 0px;
}

h2 > a {
	font-size: 18px;
}

h4 {
	color: var(--page-title-text);
	font-weight: 600;
	font-size: 12px;
	margin: 3px 0px;
	margin-top: 1em;
}

#body_container {
	font-size: 10pt;
	flex: 1;
	min-height: 0;
}

#body_container.response {
	margin-top: 1.5em;
}

#body_top_container {
	padding: 1em 2em 2em;
	flex: 1;
	overflow-y: auto;
}
#page_title_container {
	border-bottom: 1px solid var(--page-title-line);
	margin-bottom: 4px;
	white-space: nowrap;
}
#page_title_container > div {
	display: flex;
	align-items: center;
}
#page_title_container > div.flex-left > div {
	padding-right: 1em;
}
#page_title_container > div.flex-right > div:not(:first-child) {
	padding-left: 1em;
}

.overflow-container {
	height: 100%;
	overflow: auto;
	padding-bottom: 3em;
}

.fm-noscroll {
	height: 100%;
	overflow: hidden;
}

.display_results {
	width: 100%;
	font-size: 12px;
	border-spacing: 0;
}

.display_results td {
	padding: 5px 6px;
	max-width: 40em;
}

.display_results th {
	text-align: left;
	padding: 7px;
	font-weight: 400;
}

.display_results td:first-child, th:first-child {
	padding-left: 2em;
	white-space: nowrap;
}

.display_results tbody tr:nth-child(even) {
	background-color: var(--table-even-rows-bg);
}
.display_results tbody tr:nth-child(odd) {
	background-color: var(--table-odd-rows-bg);
}
.display_results tbody tr.disabled td,
.grey {
	opacity: .5;
}
.display_results tbody tr.disabled td:last-child {
	opacity: 1;
}

.display_results tbody tr.attention td:first-child,
.display_results tbody tr.disabled td:first-child,
.display_results tbody tr.ok td:first-child,
.display_results tbody tr.build td:first-child,
.display_results tbody tr.notice td:first-child,
.modules .active.upgrade td:first-child {
	border-left: 3px solid;
	padding-left: 1.8em;
}
.display_results tbody tr.build,
.modules .active.upgrade {
	background-color: var(--table-rows-build-bg);
}
.display_results tbody tr.build td:first-child,
.modules tbody tr.active.upgrade td:first-child {
	border-color: var(--table-rows-build-highlight);
}
.display_results tbody tr.attention {
	background-color: var(--table-rows-attn-bg);
}
.display_results tbody tr.attention td:first-child {
	border-color: var(--table-rows-attn-highlight);
}
.display_results tbody tr.notice {
	background-color: var(--table-rows-notice-bg);
}
.display_results tbody tr.notice td:first-child {
	border-color: var(--table-rows-notice-hightlight);
}
.display_results tbody tr.ok {
	background-color: var(--table-rows-ok-bg);
}
.display_results tbody tr.ok td:first-child {
	border-color: var(--table-rows-ok-hightlight);
}
.display_results th.header-actions {
	width: 110px;
	text-align: center;
}

.display_results th.header-small {
	width: 50px;
}

.display_results th.header-tiny {
	width: 20px;
}
.display_results th.header-tiny:first-child {
	padding-left: 27px;
	padding-right: 3px;
}

.display_results th input[type="checkbox"] {
	margin-left: -3px;
}
.display_results.sortable th:not(.header-nosort):hover,
#help_buttons img,
.eye-attention,
.popout {
	cursor: pointer;
}
.eye-attention {
	color: var(--eye-attention-selected);
}
.eye-attention.grey {
	color: var(--eye-attention-unselected);
}
.display_results.sortable th i {
	border: 3px solid var(--table-header-bg);
	display: inline-block;
	margin-left: 3px;
	position: relative;
	top: 0;
}
.display_results.sortable th {
	border-bottom: 2px solid var(--table-header-border);
}
.display_results.sortable th.header-sorted {
	border-color: var(--table-header-sorted);
}
.display_results.sortable th.header-sorted i,
.display_results.sortable th:not(.header-nosort):hover i {
	border: 3px solid transparent;
	border-top: 3px solid var(--table-header-bg);
	border-bottom: 3px solid var(--table-header-bg);
}
.display_results.sortable th.header-sorted i.asc,
.display_results.sortable th.header-sorted:hover i.desc,
.display_results.sortable th:not(.header-nosort):hover i.asc {
	top: -3px;
	border-bottom: 3px solid var(--table-header-text);
}
.display_results.sortable th.header-sorted i.desc,
.display_results.sortable th:not(.header-nosort):hover i.desc {
	border-top: 3px solid var(--table-header-text);
}
.display_results.sortable th.header-sorted:hover i.asc {
	border-top: 3px solid var(--table-header-text);
	border-bottom: none;
}
.display_results.sortable th.header-sorted:hover i.desc {
	border-top: none;
	border-bottom: 3px solid var(--table-header-text);
}

#table_edits.grab1 tbody tr td i.ui-sortable-handle,
#table_edits.grab tbody tr td i.ui-sortable-handle {
		cursor: grab;
}
#table_edits.grabbing tbody tr td i.ui-sortable-handle {
	cursor: grabbing;
}
#table_edits.grabbing tbody tr {
	border: 1px solid var(--table-rows-grabbing-border);
}

.modules tr td {
	vertical-align: top;
	padding-right: 1em;
}
.modules tr.attention td {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}
.modules td:nth-last-child(2) {
	font-size: 13px;
	min-width: 150px;
}
.modules span.upgrade_link {
	border-left: 1px #333 solid;
	margin-left: 5px;
	padding-left: 8px;
	font-weight: 600;
}
.modules span.activate_link {
	border-right: 1px var(--primary-body-text) solid;
	margin-right: 5px;
	padding-right: 8px;
}
.modules .upgrade_notice {
	background-color: var(--table-rows-notice-bg);
	padding: 6px 1em;
	position: relative;
	margin: 0 4px 4px 0;
}
.modules .upgrade_notice p {
	margin: 0;
}
.modules .module_actions {
	font-size: 12px;
	margin-top: -7px;
	white-space: nowrap;
}
.modules h3 {
	margin-top: .6em;
}
#module_install, #module_upgrade {
	font-weight: bold;
}

thead {
	background: var(--table-header-bg);
	color: var(--table-header-text);
	font-size: 13px;
	font-weight: normal;
	white-space: nowrap;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
}

.form-table td {
	margin-bottom: 9px;
	padding: 0px 20px 0px 0;
	border-bottom: 8px solid transparent;
	font-size: 14px;
}
.form-table td strong {
	font-size: 11px;
}
.form-table th {
	font-size: 14px;
	text-align: left;
	padding: 6px 10px 10px 0;
	border-bottom: 8px solid transparent;
	width: 140px;
	vertical-align: top;
	text-align: right;
	white-space: nowrap;
}

input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button).validate-error,
.form-table input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button).validate-error,
.form-table div.validate-error {
	border: 2px solid var(--button-alert-primary);
}

.form-table p.validate-error {
	font-size: 11px;
	color: var(--button-alert-secondary);
	margin: 2px 0 0;
}
.form-table label.required:after {
	content: "*";
	color: var(--button-alert-primary);
	padding-left: 3px;
}

.form-table input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button),
.display_results input:not([type="image"]):not([type="checkbox"]),
.display_results textarea,
#bulk_action,
#pagination input,
#search_form_container,
#settings input:not([type="submit"]):not([type="button"]):not([type="checkbox"]),
#settings textarea,
.log_search_form input[type="text"] {
	line-height: 20px;
	font-size: 12px;
	padding: 3px 5px;
	background-color: var(--form-field-bg);
	border: 1px solid var(--form-input-border);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: var(--form-field-text);
}

.form-table input[type=text],
.form-table input[type=password],
.form-table input[type=email],
.display_results input[type=text] {
	width: 13em;
}

.form-table th p {
	font-weight: normal;
}

[data-tooltip]:after {
	font-weight: normal;
	white-space: normal;
	text-transform: none;
	text-align: initial;
}

.form-table td.status {
	margin-bottom: 0;
	padding-top: 16px;
}

.form-table tr.pwdhint th, .form-table tr.pwdhint td {
	font-size: 8pt;
	color: light-dark(#666, var(--primary-body-text));
}
.form-table tr.pwdhint th {
	position: relative;
	top: -6px;
}

.form-table td.form-break {
	padding-top: 3em;
}

.form-table textarea, .form-table select[multiple] {
	background-color: var(--form-field-bg);
	color: var(--form-field-text);
	border: 1px solid var(--form-input-border);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
}

.form-table input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button),
input.text_icon {
	padding-right: 24px;
}

i.text_icon {
	cursor: pointer;
	position: relative;
	display: inline-block;
	left: -24px;
	top: 1px;
}

.new-container {
	position: absolute;
	bottom: 1em;
    left: 19em;
    right: 2em;
	max-height: 313px;
	overflow: auto;
}
.no-bottom-margin {
	bottom: 2em;
}

#fm_user_profile .form-table td {
	vertical-align: middle;
}

#fm_user_profile .form-table td #form_username {
	position: relative;
	top: -2px;
}

#setting-row > div {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.8em;
}
#setting-row .description label {
	font-weight: bold;
	font-size: 14px;
}
#settings div {
	font-size: 12px;
}
#setting-row .description {
	white-space: normal;
	width: 400px;
}
#setting-row .description p {
	margin-top: 3px;
}
#setting-row .choices {
	text-align: left;
	margin-left: 2em;
}
#setting-row span#brand_img {
	float: right;
	height: 48px;
	width: 48px;
	text-align: center;
	background-image:
		-moz-linear-gradient(45deg, #ccc 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, #ccc 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, #ccc 75%),
		-moz-linear-gradient(-45deg, transparent 75%, #ccc 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ccc), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ccc), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ccc)),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ccc));

	-moz-background-size:10px 10px;
	background-size:10px 10px;
	-webkit-background-size:10px 11px;

	background-position:0 0, 5px 0, 5px -5px, 0px 5px;
}
#setting-row span#brand_img img {
	width: 48px;
	height: 48px;
}
#settings input[type="submit"] {
	margin-top: 1.5em;
}
#settings textarea {
	height: 5em;
}
#settings-section {
	border-top: 1px solid var(--settings-divider);
}
#settings-section:first-child {
	border-top: none;
}

.tab-strip {
	font-size: 14px;
	display: flex;
	align-items: center;
}
.tab-strip > ul {
	display: inline-flex;
	margin: 0;
}
.tab-strip > ul > li {
	list-style: none;
	padding: 2px 4px;
}
.tab-strip li.selected a,
#tab [type=radio]:checked ~ label {
	border-bottom-color: var(--menu-select-highlight);
	color: var(--tab-selected-text);
	font-weight: bold;
}
.tab-strip li a:hover,
#tab [type=radio] ~ label:hover {
	color: var(--tab-selected-text);
}
.tab-strip a,
#tab [type=radio] ~ label {
	color: var(--tab-unselected-text);
	text-decoration: none;
	padding: 2px 6px 2px 5px;
	border-bottom: 2px solid transparent;
}


#configtypesmenu > div a {
	padding: 5px;
}

#response,
#popup_response {
	text-align: center;
	color: #000;
	font-size: 10pt;
	background-color: #FFFBCC;
	border: 1px #E6DB55 solid;
	border-top: none;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	moz-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
	-webkit-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
	-khtml-box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
	box-shadow: 0 4px 10px -1px light-dark(#ccc, #1b1b1b);
	z-index: 2;
}
#response {
	margin-top: -14px;
	width: 75%;
	margin-left: 12.5%;
}
#response p {
	margin: 0;
	padding: 3px 10px;
}
#response p:first-child {
	padding-top: 6px;
	padding-bottom: 3px;
}
#response p:last-child {
	padding-top: 3px;
	padding-bottom: 6px;
}
#response p:only-child {
	padding-top: 6px;
	padding-bottom: 6px;
}
#response p.error {
	color: red;
}
#response.static {
	position: fixed;
	left: 12.5%;
	width: 60%;
}
#response a {
	text-decoration: underline;
}
#response.attention,
#config_check.error {
	border-color: light-dark(#f0b1b1, #9d4444);
	background-color: light-dark(#f7cdcd, #915d5d);
	color: light-dark(#000, #d4d4d4);
}

#response_close {
	float: right;
	margin-right: 7px;
	margin-top: -2px;
}
#response_close i {
	background-color: #FFFBCC;
}
#tabs #response {
	width: 90%;
	margin-top: unset;
	margin-left: auto;
	margin-right: auto;
}

#popup_response {
	position: absolute;
	top: 44px;
	width: 70%;
	margin-left: 11%;
	min-height: 2.3em;
	padding: 0 1em;
}
#popup_response p {
	margin: 6px auto;
}
#popup_response div#error {
	display: none;
	overflow: auto;
}

.replace {
	display:none;
}

a {
	color: var(--primary-link-text);
	text-decoration: none;
}
a:not(.mini-icon) i.fa-question-circle,
span:not(.mini-icon) i.fa-question-circle {
	color: var(--info-icon);
}

.column-actions {
	width: 55px;
	text-align: center;
	white-space: nowrap;
}
.column-actions i {
	padding: 4px;
	font-size: 18px;
	color: #c0c0c0;
}
.column-actions a.delete {
	margin-left: 1em;
}
.column-actions i.delete,
i.delete {
	color: var(--icon-delete);
}
a.delete {
	padding: 6px 3px 3px;
}
.column-actions label i.delete:hover,
a.delete:hover {
	background-color: var(--icon-delete);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.column-actions label i.delete:hover {
	padding: 5px;
}
.column-actions label i.delete:hover,
a.delete:hover i {
	color: #fff;
}
.column-actions i.preview {
	color: var(--icon-link);
	cursor: pointer;
}
.column-actions i.toggle {
	color: var(--info-icon);
}
.column-actions img {
	padding: 0 5px;
	margin-top: 2px;
}

.reload {
	border: 1px #B7B7B7 dotted;
}

#note {
	width: 70%;
	background-color: #fbffbf;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 1em auto;
	font-size: 10pt;
	text-indent: 3.2em;
	background-image: url('/fm-includes/images/Warning_Triangle_24x24.png');
	background-repeat: no-repeat;
	background-position: 10px 7px;
}

.noresult {
	padding-top: 0.4em;
	text-align: center;
	font-weight: bold;
}

.manage_form_contents {
	z-index: 1003;
	position: relative;
	top: -5%;
	margin: auto;
	opacity: 1.0;
	min-width: 500px;
	max-width: 80%;
	background-color: var(--form-popup-bg);
	border: 1px solid #1e1e1e;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
	-moz-box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
	box-shadow: 0 3px 50px light-dark(rgba(0, 0, 0, 0.7), #000);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
}

.manage_form_contents > p {
	margin: 20px;
}

.manage_form_container {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1001;
}

.manage_form_container_flex {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1002;
}

.popup-header {
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--form-popup-primary-color)), to(var(--form-popup-secondary-color)));
	background-image: -webkit-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: -o-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: linear-gradient(to bottom, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid light-dark(#aeaeae, var(--page-title-line));
	border-top-color: light-dark(#b7b7b7, var(--page-title-line));
	border-bottom-color: light-dark(#989898, #515151);
	color: var(--form-popup-title-primary-color);
	text-shadow: 0 1px 0 var(----form-popup-title-secondary-color);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	border-width: 0 0 1px 0;
	position: relative;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	padding: 4px 15px;
	cursor: move;
}

.popup-header h3 {
	margin: 0;
	line-height: 35px;
	font-size: 16px;
	font-weight: normal;
}

.close {
	float: none;
	border: none;
	background: none;
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	color: #c11515;
}

.popup-header .close {
	margin-top: 11px;
	float: right;
}

.popup-wait {
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: var(--form-popup-bg);
	opacity: 0.75;
	z-index: 1010;
	width: 100%;
	position: absolute;
	display: none;
}
.popup-wait i {
	position: absolute;
	top: 45%;
	left: 50%;
}

.popup-contents {
	max-height: 480px;
	overflow-y: auto;
	padding: 0 2em;
	background: var(--form-popup-bg);
}
.popup-contents p.complete {
	padding: 0 10px;
}
.popup-contents > p > a {
	text-decoration: underline;
}
.popup-contents iframe {
	width: 55em;
	height: 37em;
	border: none;
}

.popup-footer {
	margin-bottom: 0;
	text-align: right;
	background-color: var(--form-popup-primary-color);
	border-top: 1px solid light-dark(#ddd, var(--page-title-line));
	border-top-color: light-dark(#b7b7b7, #515151);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	padding: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
}

.button {
	display: inline-block;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: -moz-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--form-popup-primary-color)), to(var(--form-popup-secondary-color)));
	background-image: -webkit-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: -o-linear-gradient(top, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-image: linear-gradient(to bottom, var(--form-popup-primary-color), var(--form-popup-secondary-color));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid light-dark(#aeaeae, #3e3e3e);
	border-top-color: light-dark(#b7b7b7, #454545);
	border-bottom-color: light-dark(#989898, #2f2f2f);
	color: var(--form-popup-title-primary-color);
	text-shadow: 0 1px 0 var(----form-popup-title-secondary-color);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.primary {
	background-image: -moz-linear-gradient(top, var(--button-primary-primary), var(--button-primary-secondary));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--button-primary-primary)), to(var(--button-primary-secondary)));
	background-image: -webkit-linear-gradient(top, var(--button-primary-primary), var(--button-primary-secondary));
	background-image: -o-linear-gradient(top, var(--button-primary-primary), var(--button-primary-secondary));
	background-image: linear-gradient(to bottom, var(--button-primary-primary), var(--button-primary-secondary));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53a4e2', endColorstr='#ff496e99', GradientType=0);
	background-color: var(--button-primary-primary);
	border: 1px solid #426d24;
	border-bottom-color: #32521b;
	border-top-color: var(--button-primary-secondary);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.alert {
	background-image: -moz-linear-gradient(top, var(--button-alert-primary), var(--button-alert-secondary));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--button-alert-primary)), to(var(--button-alert-secondary)));
	background-image: -webkit-linear-gradient(top, var(--button-alert-primary), var(--button-alert-secondary));
	background-image: -o-linear-gradient(top, var(--button-alert-primary), var(--button-alert-secondary));
	background-image: linear-gradient(to bottom, var(--button-alert-primary), var(--button-alert-secondary));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe40a0a', endColorstr='#ff9f0202', GradientType=0);
	background-color: var(--button-alert-primary);
	border: 1px solid #426d24;
	border-bottom-color: #32521b;
	border-top-color: var(--button-alert-secondary);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.green {
	background-image: -moz-linear-gradient(top, var(--button-green-primary), var(--button-green-secondary));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--button-green-primary)), to(var(--button-green-secondary)));
	background-image: -webkit-linear-gradient(top, var(--button-green-primary), var(--button-green-secondary));
	background-image: -o-linear-gradient(top, var(--button-green-primary), var(--button-green-secondary));
	background-image: linear-gradient(to bottom, var(--button-green-primary), var(--button-green-secondary));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74ad5a', endColorstr='#ff5b9140', GradientType=0);
	background-color: var(--button-green-primary);
	border: 1px solid #3b6e22;
	border-bottom-color: #32521b;
	border-top-color: var(--button-green-secondary);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

input.disabled,
a.button.disabled {
	background-image: -moz-linear-gradient(top, var(--form-input-disabled-primary), var(--form-input-disabled-secondary));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(var(--form-input-disabled-primary)), to(var(--form-input-disabled-secondary)));
	background-image: -webkit-linear-gradient(top, var(--form-input-disabled-primary), var(--form-input-disabled-secondary));
	background-image: -o-linear-gradient(top, var(--form-input-disabled-primary), var(--form-input-disabled-secondary));
	background-image: linear-gradient(to bottom, var(--form-input-disabled-primary), var(--form-input-disabled-secondary));
	background-color: var(--form-input-disabled-primary);
	border-color: light-dark(#d9d9d9, #515151);
	color: var(--form-input-disabled);
	cursor: not-allowed;
}
label.disabled {
	color: var(--form-input-disabled);
	cursor: not-allowed;
}

a.button i {
	margin-right: 5px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

i.star {
	padding-right: 2px;
}
i.star,
.column-actions i.fa-unlock-alt {
	color: #e8a412;
}
.column-actions i.ok,
i.ok,
i.secure {
	color: var(--icon-secure);
}
.column-actions i.fail,
i.fail,
i.insecure {
	color: var(--icon-delete);
}
.column-actions i.notice,
i.notice {
	color: #E2A93C;
}
i.fail {
	float: none;
}
i.popout {
	padding-right: 2px;
}

#plus i.default {
	color: #fff;
	background: var(--menu-select-highlight);
	padding: 5px 7px;
	font-size: 12px;
	font-style: normal;
	font-family: "Open Sans",sans-serif;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#form_username span {
	margin-top: -5px;
}

#help, #fm_mailing_options, #fm_proxy_options,
#mail_smtp_auth_options, #auth_ldap_options, #ldap_group_require_options,
#auth_fm_options, #software_update_options,
#help_file_container ul li div,
.hidden {
	display: none;
}

span.installed {
	color: var(--icon-secure);
}

span.not_installed {
	color: var(--icon-delete);
}

#datemenu {
	float: right;
	position: relative;
	top: -2em;
	font-size: 11pt;
	margin-bottom: -2em;
}

#datemenu a {
	text-decoration: none;
	padding: 3px;
	font-size: 8pt;
}
#datemenu a:hover {
	color: #000;
}

#userperms {
	margin-left: 21em;
}

#userperms th {
	text-transform: none;
}

#userperms td, .form-table td label {
	font-size: 11px;
	white-space: nowrap;
}

#userperms p {
	font-size: 12pt;
}

#shadow_box.fullwidthbox {
	min-width: 100%;
	max-width: 100%;
}

.table-results-container #shadow_box {
	margin: 0 .3em;
	min-width: 99%;
}

#shadow_container.fullwidthbox {
	line-height: 10pt;
	padding: 0;
	text-align: center;
}

#shadow_container.note {
	padding: 0 1em;
	text-align: left;
}
#shadow_container.note b {
	color: #e19419;
}

#shadow_box {
	-moz-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	-webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	box-shadow: rgba(0,0,0,.30), rgba(147,147,147,.30)) 0 2px 3px !important;
	-moz-box-shadow: rgba(0,0,0,.30), rgba(147,147,147,.30)) 0 2px 3px !important;
	-webkit-box-shadow: rgba(0,0,0,.30), rgba(147,147,147,.30)) 0 2px 5px !important;
	margin-top: .6em;
}

#shadow_container {
	background-color: light-dark(#fff, #161616);
	padding: 0 1.5em .5em;
	border: 1px solid light-dark(#fff, #161616);
	background: light-dark(#F6F6F6, #0c0c0c);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1))),color- stop(100%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1))));
	background: -webkit-linear-gradient(top,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1)) 50%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1)) 100%);
	background: -moz-linear-gradient(top,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1)) 50%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1)) 100%);
	background: -o-linear-gradient(top,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1)) 50%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1)) 100%);
	background: -ms-linear-gradient(top,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1)) 50%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1)) 100%);
	background: linear-gradient(top,light-dark(rgba(249, 249, 249, 1), rgba(53, 53, 53, 1)) 50%,light-dark(rgba(240, 240, 240, 1), rgba(37, 37, 37, 1)) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px light-dark(rgba(255,255,255,.97), rgba(108,108,108,.97)) !important;
	-moz-box-shadow: inset 0 1px 1px light-dark(rgba(255,255,255,.97), rgba(108,108,108,.97)) !important;
	box-shadow: inset 0 1px 1px light-dark(rgba(255,255,255,.97), rgba(108,108,108,.97)) !important;

	padding: 1em;
	padding-left: 2em;
	font-size: 10pt;
	line-height: 18pt;
	overflow: auto;
}

#shadow_container h3 {
	font-size: 14px;
	color: var(--icon-delete);
	margin-top: 0;
}

#help {
	position: fixed;
	top: 3.8em;
	bottom: 0;
	right: 0em;
	width: 25%;
	height: 100%;
	z-index: 3;
	background-color: light-dark(#FEFEFE, #3b3b3b);
	border-left: 1px light-dark(#DDD, #202020) solid;
	-webkit-box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
	-khtml-box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
	box-shadow: light-dark(rgba(200,200,200,0.7), rgb(57,57,57,0.7)) -2px 0 3px -1px;
	overflow: hidden;
}

#help a {
	text-decoration: underline;
}

#help_topbar {
	height: 2em;
	background-color: var(--table-header-bg);
	color: var(--table-header-text);
	padding: 10px;
}

#help_topbar div {
	display: flex;
    align-items: center;
}

#help_topbar p.title {
	font-size: 10pt;
	font-weight: bold;
}

#help_file_container {
	flex: 1;
	padding: 1em;
	font-size: 9pt;
	overflow-y: auto;
	height: 90%;
}

#help_file_container > div:last-of-type {
	margin-bottom: 10em;
}

#help_file_container ul {
	list-style: none;
	margin-bottom: 3em;
	padding: 0;
}

#help_file_container li {
	list-style: none;
	border-bottom: 1px solid var(--settings-divider);
	padding: 0 5px;
}

#help_file_container li:first-child {
	border-top: 1px solid var(--settings-divider);
}

#help_file_container li a.list_title {
	cursor: pointer;
	line-height: 24pt;
	color: light-dark(#000, #d5d5d5);
	font-weight: bold;
	text-decoration: none;
}

#help_file_container li p {
	padding: 0;
}

#help_file_container h3 {
	font-size: 14px;
	color: var(--page-title-text);
	margin-top: 0;
}
#help_file_container ul li ul li {
	padding: 5px;
}

#pagination_container,
#search_form_container,
div.fm-table {
	display: table;
	width: 100%;
}

#pagination_container {
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}
#pagination_container > div {
	display: flex;
	align-items: center;
}
#pagination_container > div.flex-left > div {
    padding-right: 8px;
}
#pagination_container > div.flex-right > div {
    padding-left: 8px;
}
#pagination_container,
#search_form_container {
	white-space: nowrap;
}
div.fm-table > div {
	display: table-row;
}
div.fm-table > div > div {
	display: table-cell;
}
div.fm-table > div > div:first-child {
	padding: 0 .5em 0 0;
}
div.fm-table > div > div:last-child {
	padding: 0 0 0 .5em;
}
div.fm-table > div > div:first-child:nth-last-child(1) {
	width: 100%;
	padding: 0;
}
div.fm-table > div > div:first-child:nth-last-child(2) {
	width: 48%;
}
div.fm-table > div > div:first-child:nth-last-child(3) {
	width: 32%;
}
div.fm-table > div > div.fm-half {
	width: 50%;
}
#pagination_container > div > div:nth-child(2) {
	width: 100%;
}

#pagination_container.submenus {
	top: -31px;
	position: relative;
	margin-bottom: -1.6em;
}

#pagination_container #configtypesmenu.nopadding {
	padding: 0;
}

#pagination {
	font-size: 11px;
	color: var(--primary-body-text);
	font: 11px/20px sans-serif;
	height: 30px;
	display: flex;
    align-items: center;
}

#pagination a {
	display: inline-block;
	padding: 0 9px;
	margin-left: 4px;
	border-radius: 3px;
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	border: solid 1px light-dark(#c0c0c0, #000);
	background: light-dark(#e9e9e9, #232323);
	box-shadow: inset 0px 1px 0px light-dark(rgba(255,255,255, .8), rgba(103,103,103,.8)), 0px 1px 3px rgba(0,0,0, .1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(light-dark(#f8f8f8, #434343)), to(light-dark(#e9e9e9, #232323)));
	background: -moz-linear-gradient(0% 0% 270deg,light-dark(#f8f8f8, #434343), light-dark(#e9e9e9, #232323));
}

#pagination a:hover {
	background: light-dark(#fefefe, #6d6d6d);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(light-dark(#fefefe, #6d6d6d)), to(light-dark(#f0f0f0, #313131)));
	background: -moz-linear-gradient(0% 0% 270deg,light-dark(#fefefe, #6d6d6d), light-dark(#f0f0f0, #313131));
}

#pagination input {
	width: 20px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	margin-left: 5px;
}
#pagination span {
	font-style: italic;
	color: #bbb;
}

#search_form_container {
	z-index: 100;
	display: none;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: unset;
}

#search_form_container .search_icon,
#search_form_container .search_remove,
#search_form input[type=text] {
	color: #f0f0f0;
}

#search_form > form {
	padding-left: .5em;
	width: 16em;
}

#search_form input[type=text] {
	width: 90%;
	border: 1px solid var(--top-header-search-border);
	line-height: 20px;
	background-color: var(--top-header-search-bg);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#search_form_container .search_remove {
	top: -1px;
}

.highlighted {
	background-color: #fffe40;
}
.no_results {
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}

table.log_search_form {
	text-align: center;
}
table.log_search_form th {
	text-align: center;
	font-size: 11px;
}

#passwd_check {
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 150px;
	text-align: center;
	font-size: 12px;
}

th {
	text-transform: capitalize;
}

pre {
	padding: 10px;
}

#scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 48px;
	height: 48px;
	z-index: 99;
	
	background: url('../images/to-top.png') no-repeat;
	opacity: 0;
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	
	#scroll-to-top {
		background-image: url(../images/to-top-retina.png);
		background-size: 48px 48px;
	}

}

#scroll-to-top.displayed {
	opacity: 1 !important;
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

#bulk_action {
	font-size: 13px;
	height: 28px;
}

.add_more {
	font-size: 12px;
}

#issue_tracker {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px;
	color: #888888;
	text-align: center;
	width: 100%;
}
#help #issue_tracker {
	position: absolute;
	width: auto;
	padding-top: 5px;
	margin-bottom: 4em;
}

.select2-drop {
	white-space: nowrap;
}

.search-form {
	position: absolute;
	top: 4px;
	float: right;
	margin-bottom: -2.6em;
	right: 22px;
}

.valid_error {
	color: var(--table-rows-attn-highlight);
}

.valid_message {
	color: #008500;
}

#bulk_apply {
	margin-left: 3px;
}

.no-left-pad td:first-child, .no-left-pad th:first-child {
	padding-left: 0;
}

.mini-icon {
	color: var(--mini-icon);
}

/** Sub elements */
.subelements td p {
	margin: 0 0 0 .5em;
}

.subelements p span.record-additions {
	color: var(--icon-secure);
	font-size: 8pt;
}
.subelements p span.record-additions:before {
	content: '+';
}

.subelements p span.record-subtractions {
	color: var(--icon-delete);
	font-size: 8pt;
}
.subelements p span.record-subtractions:before {
	content: '-';
}
p[class^=subelement] span:first-child,
p[class^=subelement] i {
	margin-right: 7px;
}

i.subelement_remove,
i#build,
a.subelement_edit img {
	cursor: pointer;
}

#config_check {
	margin: 10px;
	padding: 3px;
	font-size: 10pt;
	border: 1px #C1DCC1 solid;
	background-color: var(--table-rows-ok-bg);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-image: url('../../facileManager/images/greenshield64.png');
	background-repeat: no-repeat;
	background-attachment: local;
	min-height: 59px;
	overflow: auto;
}
#config_check p {
	padding-left: 5em;
}
#config_check.info {
	border-color: #E6E678;
	background-color: var(--table-rows-notice-bg);
	background-image: url('../../facileManager/images/yellowshield64.png');
	background-repeat: no-repeat;
}
#config_check.error {
	background-image: url('../../facileManager/images/redshield64.png');
	background-repeat: no-repeat;
}
#config_check pre {
	margin-left: 6.5em;
	padding: 0;
	font-size: 9pt;
}

#tabs {
	position: relative;
	min-height: 300px;
	clear: both;
	margin: 25px 0;
}
#tab {
	float: left;
	padding: 0 3px;
}
#tab [type=radio] {
	display: none;
}
#tab [type=radio] ~ label {
	padding: 2px 6px 2px 7px;
}
#tab [type=radio] ~ label ~ #tab-content {
	display: none;
}
#tab [type=radio]:checked ~ label ~ #tab-content {
	z-index: 1;
	display: block;
}
#tab span.menu-badge {
	left: unset;
	background-color: var(--menu-select-highlight);
	font-size: 10px;
    padding: 0 7px;
	height: 14px;
	top: -1px;
}
#tab span.menu-badge p {
	margin-top: 0px;
}

#tab-content {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--form-popup-bg);
	border-top: 1px solid var(--page-title-line);
	margin-top: 9px;
}

.overflow {
	overflow: auto;
}
.nowrap {
	white-space: nowrap;
}

.tooltip-copy {
	z-index: 1000;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Tooltip text */
.tooltip-copy span {
	z-index: 1001;
	visibility: hidden;
	min-width: 120px;
	top: 130%;
	bottom: auto;
	left: 50%;
	margin-left: -120px;
	margin-top: 0;
	background-color: var(--tooltip-bg);
	color: var(--tooltip-text);
	text-align: left;
	padding: 7px 10px;
	border-radius: 3px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	cursor: text;
	opacity: 0;
	transition: opacity .5s;
}

.tooltip-copy span::before {
	content: " ";
	position: absolute;
	top: -10px; /* At the bottom of the tooltip */
	left: 115px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--tooltip-bg) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-copy:hover span {
	visibility: visible;
	opacity: 1;
}

.tooltip-copy p {
	margin-bottom: 0;
	font-size: 10px;
}
.tooltip-copy textarea {
	white-space: nowrap;
	min-width: 40em;
}

/** Firefox hacks :( */
@-moz-document url-prefix() {
	#search_form_container {
		width: 16.5em;
	}
}

