html {
	background: #fff;
}

body {
	background: #fff;
	color: #333;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	margin: auto;
	height: 100%;
}

label {
	cursor: pointer;
	position: relative;
	top: -1px;
	color: #000;
}

label.radio {
	top: -3px;
}

input[type="checkbox"] {
	border: 1px solid #bbb;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 13px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 13px;
	min-width: 13px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
}
input[type="checkbox"]:checked:before {
	content: "\f00c";
	margin: 0px 0 0 -1px;
	color: #496e99;
}
input[type="checkbox"]:checked:before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	font: normal normal normal 12px/1 FontAwesome;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="checkbox"].modules {
	margin-top: 12px;
}
#tophead {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #565656 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#565656)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#565656 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#565656 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#565656 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#565656 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#565656',GradientType=0); /* IE6-9 */
	moz-box-shadow: rgba(200,200,200,0.7) 0 2px 3px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 2px 3px -1px;
	-khtml-box-shadow: rgba(200,200,200,0.7) 0 2px 3px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 2px 3px -1px;
	
	color: #CCCCCC;
	padding: 5px;
	font-size: 8pt;
	height: 2.7em;
	border-bottom: 1px #000 solid;
	position: fixed;
	width: 100%;
	z-index: 5;
}

#tophead a {
	color: #fff;
}

#topheadpart {
	top: 2px;
	border-right: 1px #000 dotted;
	position: relative;
	float: left;
	padding: 0 2em;
	max-height: 25px;
}
#tophead #topheadpart:first-child {
	font-size: 10px;
	top: 1px;
}
#topheadpart img {
	height: 27px;
	float: left;
	border: none;
	margin-right: 10px;
	margin-left: -8px;
}

#topheadpartright {
	top: 2px;
	border-left: 1px #000 dotted;
	position: relative;
	float: right;
	padding: 0 2em;
	max-height: 25px;
}
#topheadpartright span.update_count {
	font-size: 8px;
	position: relative;
	top: -5px;
	color: #fff;
}

.single_line {
	line-height: 18pt;
}

#logo {
	position: relative;
	margin-left: 2em;
	top: 5px;
}

#menuback {
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #ECECEC;
	border-right: 1px #ccc solid;
	width: 160px;
	font-size: 10pt;
	z-index: -1;
	moz-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-khtml-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
}

#menu {
	width: 160px;
	position: fixed;
	top: 3em;
	float: left;
	color: #fff;
	z-index: 4;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li, #submenu li {
	list-style: none;
	white-space: nowrap;
	line-height: 24pt;
	margin: 0;
}


#menu a {
	display: block;
	text-decoration: none;
	font-weight: 600;
	color: #00017B;
}

#menu a:hover {
	color: #4C4C4C;
}

#donate {
	position: fixed;
	bottom: 0;
	left: 1.3em;
	font-size: 9pt;
}
#donate a {
	color: #888888;
}
#donate a:hover i {
	color: #c11515;
}

#mainitems {
	text-align: left;
}

#mainitems > ul > li > a {
	border-top: 1px #F9F9F9 solid;
	border-bottom: 1px #DFDFDF solid;
	padding-left: 1.5em;
}

#mainitems > ul > li.current > a {
	border: none;
	background-color: #464646;
	border-bottom: 1px #464646 solid;
	border-top: 1px #464646 solid;
	color: #fff;
	text-shadow: 0 -1px 0 #333;
	moz-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-khtml-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
}
#mainitems > ul > li.current > a:hover {
	background-color: #464646;
}

#mainitems .separator {
	height: 0.5em;
	background-color: #DFDFDF;
	border-top: 1px #CFCFCF solid;
}

#mainitems > ul > li.arrow > u,
#mainitems > ul > li > div.arrow {
	position: absolute;
	display: none;
	left: 11.9em;
	top: 10px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 6px solid rgba(70,70,70,0.95);
}
#mainitems > ul > li.current > u {
	display: block;
	left: 12.3em;
	top: 0;
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 10px solid #464646;
	border-right: none;
}
#mainitems > ul > li.current span.menu_badge,
#mainitems > ul > li > ul > li a span.menu_badge {
	border: 1px solid #8F8F8F;
	background-color: #8F8F8F;
}

#submenu {
	background: #fff;
	border-bottom: 1px #DFDFDF solid;
	color: #000;
}

#submenu li {
	line-height: 20pt;
}

#submenu a {
	text-decoration: none;
	padding-left: 2.2em;
	border: none;
	font-weight: 400;
}

#submenu a:hover, #submenu .current a:hover {
	background-color: #F5F9F6;
	color: #000;
}

#submenu .current a {
	color: #000;
	font-weight: 600;
	border: none;
	text-shadow: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	box-shadow: none;
}

#subitems {
	margin: 0 auto;
}

#subitems a.current {
	background-color: #fff;
	color: #464646;
}

#subitems li:first-child a.current {
	border-top: none;
}

#subitems ul li a {
	overflow: hidden;
	text-overflow: ellipsis;
}

#mainitems{ display:block; padding:0; margin: 0; }
#mainitems > ul {list-style:inside none; padding:0; margin:0;}
#mainitems > ul > li {list-style: none; padding:0; margin:0; display:block; position:relative;}
#mainitems > ul > li > a{ outline:none; display:block; position:relative; text-decoration:none; }
#mainitems ul li.has-sub:hover > a:after{top:0; bottom:0;}
#mainitems > ul > li.has-sub:hover > a:before{top:18px;}
#mainitems ul li.has-sub:hover > ul, #mainitems ul li.has-sub:hover > div{display:block;}
#mainitems ul li > ul {
	display:none; width:auto; position:absolute; top:0; left: 12.3em; padding:2px 0; background-color:rgba(70,70,70,0.95);
	border-radius:0 5px 5px 0;
	moz-box-shadow: rgba(10,10,10,0.4) 5px 15px 40px -5px;
	-webkit-box-shadow: rgba(10,10,10,0.4) 5px 15px 40px -5px;
	-khtml-box-shadow: rgba(10,10,10,0.4) 5px 15px 40px -5px;
	box-shadow: rgba(10,10,10,0.4) 5px 15px 40px -5px;
	z-index: 6;
}
#mainitems > ul > li > a:hover {
	background: #e5e5e5;
}
#mainitems > ul > li > a.current:hover {
	background: #464646;
}
#mainitems ul li > ul{width:200px;}
#mainitems ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#mainitems ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:0 20px; font-size:10pt; color:#fff; text-decoration:none; }
#mainitems ul li.has-sub > ul li a { font-weight: normal; }
#mainitems > ul > li > ul > li a:hover{ background-color:rgba(100,100,100,0.95); color: #fff; };

#subdomain {
	float: left;
	margin: 0;
}

span.menu_badge {
	display: inline-block;
	margin-left: 1em;
	border: 1px solid #646464;
	font-weight: 400;
	font-size: 12px;
	padding: 0 8px;
	position: relative;
	height: 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #646464;
}
span.menu_badge p {
	margin-top: -8px;
	margin-left: -1px;
	padding: 0;
	color: #fff;
}
#subitems span.menu_badge p {
	margin-top: -5px;
}

#mainitems > ul > li > ul > li > a span.menu_badge {
	top: 0;
}

#mainitems > ul > li > ul > li > a > span.menu_badge p {
	margin-top: -8px;
}

#cssmenu{ display:block; padding:0; margin: 0; }
#cssmenu > ul {list-style:inside none; padding:0; margin:0;}
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:5px 3em 6px 2em; text-align:center; text-decoration:none; }
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:10px; right:1.2em; border:5px solid transparent; border-top:5px solid #fff; }
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:1.3em; padding-top:1.3em; top:-.8em; z-index:999; }
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;}
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;}
#cssmenu ul li > ul, #cssmenu ul li > div {
	display:none; width:auto; position:absolute; top:32px; padding:10px 0; background-color:rgba(63,63,63,0.95); border-radius:0 0 5px 5px; z-index:999;
	moz-box-shadow: rgba(10,10,10,0.4) 0 15px 40px 5px;
	-webkit-box-shadow: rgba(10,10,10,0.4) 0 15px 40px 5px;
	-khtml-box-shadow: rgba(10,10,10,0.4) 0 15px 40px 5px;
	box-shadow: rgba(10,10,10,0.4) 0 15px 40px 5px;
}
#cssmenu ul li > ul{width:200px;}
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font-size:14px; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); }

#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#333333; background:-moz-linear-gradient(top, #333333 0%, #222222 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); background:-webkit-linear-gradient(top, #333333 0%,#222222 100%); background:-o-linear-gradient(top, #333333 0%,#222222 100%); background:-ms-linear-gradient(top, #333333 0%,#222222 100%); background:linear-gradient(top, #333333 0%,#222222 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); }
#cssmenu > ul > li > a:hover{background:#111;}

#cssmenu ul li > ul.sub-right {
	right: 0;
	width: 150px;
	white-space: nowrap;
	text-align: right;
}
#cssmenu ul li a span > img {
	margin-top: -2px;
	margin-bottom: -4px;
	margin-right: -1em;
}
#cssmenu ul li.has-image, #cssmenu ul li.has-image:hover {
	margin-right: .5em;
}
#cssmenu ul li ul li.text-only {
	border-bottom: 1px #5C5C5C solid;
	padding-bottom: 8px;
}
#cssmenu ul li ul li.text-only span {
	margin: 0 1.3em;
	font-size: 12pt;
	font-weight: 600;
	text-shadow: 0 1px 0 #000;
}

#footer {
	font-size: 11px;
	position: relative;
	top: 2em;
	right: 1em;
	text-align: right;
	vertical-align: top;
	padding-top: 0em;
	color: #888;
}

h2 {
	color: #333;
	font: normal 24px Georgia, "Times New Roman", Times, serif;
	margin: 5px 0px;
	border-bottom: 1px solid #cfcfcf;
}

h2 > a {
	font-size: 18px;
}

h4 {
	color: #333;
	font-weight: 600;
	font-size: 12px;
	margin: 3px 0px;
	margin-top: 1em;
}

#body_container {
	padding: 1em 2em 5em;
	position: absolute;
	right: 0em;
	left: 12em;
	font-size: 10pt;
	float: left;
	margin-top: 3em;
}

#body_container.response {
	margin-top: 1.5em;
}

.fm-noscroll {
	height: 100%;
	overflow: hidden;
	margin-bottom: -5em;
}

.display_results {
	width: 100%;
	font-size: 12px;
	border-spacing: 0;
	margin-top: 3px;
}

.display_results td {
	padding: 5px 6px;
}

.display_results th {
	text-align: left;
	padding: 7px;
	font-weight: 400;
}

.display_results td:first-child, th:first-child {
	padding-left: 2em;
	white-space: nowrap;
}

.display_results tbody tr:nth-child(even) {
	background-color:#f9f9f9;
}
.display_results tbody tr:nth-child(odd) {
	background-color:#fff;
}
.display_results tbody tr.disabled td,
.grey {
	opacity: .5;
}
.display_results tbody tr.disabled td:last-child {
	opacity: 1;
}

.display_results tbody tr.attention td:first-child,
.display_results tbody tr.disabled td:first-child,
.display_results tbody tr.build td:first-child,
.display_results tbody tr.notice td:first-child,
.modules .active.upgrade td:first-child {
	border-left: 3px solid;
	padding-left: 1.8em;
}
.display_results tbody tr.build,
.modules .active.upgrade {
	background-color: #E6F4F9;
}
.display_results tbody tr.build td:first-child,
.modules tbody tr.active.upgrade td:first-child {
	border-color: #2ea2cc;
}
.display_results tbody tr.attention {
	background-color: #f5ebeb;
}
.display_results tbody tr.attention td:first-child {
	border-color: #CB3739;
}
.display_results tbody tr.notice {
	background-color: #fff8e5;
}
.display_results tbody tr.notice td:first-child {
	border-color: #ffb900;
}
.display_results th.header-actions {
	width: 110px;
	text-align: center;
}

.display_results th.header-small {
	width: 50px;
}

.display_results th.header-tiny {
	width: 20px;
}
.display_results th.header-tiny:first-child {
	padding-left: 27px;
	padding-right: 3px;
}

.display_results th input[type="checkbox"] {
	margin-left: -3px;
}
.display_results.sortable th:not(.header-nosort):hover,
#help_buttons img,
.eye-attention,
.popout {
	cursor: pointer;
}
.display_results.sortable th i {
	border: 3px solid #464646;
	display: inline-block;
	margin-left: 3px;
	position: relative;
	top: 0;
}
.display_results.sortable th#header-sorted i,
.display_results.sortable th:not(.header-nosort):hover i {
	border: 3px solid transparent;
	border-top: 3px solid #464646;
	border-bottom: 3px solid #464646;
}
.display_results.sortable th#header-sorted i.asc,
.display_results.sortable th#header-sorted:hover i.desc,
.display_results.sortable th:not(.header-nosort):hover i.asc {
	top: -3px;
	border-bottom: 3px solid #fff;
}
.display_results.sortable th#header-sorted i.desc,
.display_results.sortable th:not(.header-nosort):hover i.desc {
	border-top: 3px solid #fff;
}
.display_results.sortable th#header-sorted:hover i.asc {
	border-top: 3px solid #fff;
	border-bottom: none;
}
.display_results.sortable th#header-sorted:hover i.desc {
	border-top: none;
	border-bottom: 3px solid #fff;
}

#table_edits.grab1 tbody tr td:first-child i {
	cursor: url(https://www.google.com/intl/en_ALL/mapfiles/openhand.cur) 8 8, move;
}
#table_edits.grab tbody:not(.no-grab) tr td:nth-child(2) i {
	cursor: url(https://www.google.com/intl/en_ALL/mapfiles/openhand.cur) 8 8, move;
}
#table_edits.grabbing tbody tr td:nth-child(2) i {
	cursor: url(https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur) 8 8, move;
}
#table_edits.grabbing tbody tr {
	border: 1px #dfdfdf solid;
}

.modules tr td {
	vertical-align: top;
	padding-right: 1em;
}
.modules tr.attention td {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}
.modules td:nth-last-child(2) {
	font-size: 13px;
	min-width: 150px;
}
.modules span.upgrade_link {
	border-left: 1px #333 solid;
	margin-left: 5px;
	padding-left: 8px;
	font-weight: 600;
}
.modules span.activate_link {
	border-right: 1px #333 solid;
	margin-right: 5px;
	padding-right: 8px;
}
.modules .upgrade_notice {
	background-color: #fff8e5;
	padding: 6px 1em;
	position: relative;
	margin: 0 4px 4px 0;
}
.modules .upgrade_notice p {
	margin: 0;
}
.modules .module_actions {
	font-size: 12px;
	margin-top: -7px;
	white-space: nowrap;
}
.modules h3 {
	margin-top: .6em;
}
#module_install, #module_upgrade {
	font-weight: bold;
}

thead {
	background: #464646;
	color: #f1f1f1;
	font-size: 13px;
	font-weight: normal;
	white-space: nowrap;
}

tbody {
	background: #fff;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
}

.form-table td {
	margin-bottom: 9px;
	padding: 0px 20px 0px 0;
	border-bottom: 8px solid #fff;
	font-size: 14px;
}
.form-table td strong {
	font-size: 11px;
}
.form-table th {
	font-size: 14px;
	text-align: left;
	padding: 6px 10px 10px 0;
	border-bottom: 8px solid #fff;
	width: 140px;
	vertical-align: top;
	text-align: right;
	white-space: nowrap;
}

.form-table input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button),
.display_results input:not([type="image"]):not([type="checkbox"]),
.display_results textarea,
#bulk_action,
#pagination input,
#search_form_container {
	line-height: 20px;
	font-size: 12px;
	padding: 2px;
	border: 1px #DFDFDF solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.form-table input[type=text],
.form-table input[type=password],
.form-table input[type=email],
.display_results input[type=text] {
	width: 13em;
}

.form-table th p {
	font-weight: normal;
}

[data-tooltip]:after {
	font-weight: normal;
	white-space: normal;
	text-transform: none;
	text-align: initial;
}

.form-table td.status {
	margin-bottom: 0;
	padding-top: 16px;
}

.form-table tr.pwdhint th, .form-table tr.pwdhint td {
	font-size: 8pt;
	color: #666;
}
.form-table tr.pwdhint th {
	position: relative;
	top: -6px;
}

.form-table td.form-break {
	padding-top: 3em;
}

.form-table textarea, .form-table select[multiple] {
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
}

.form-table input:not([type="image"]):not([type="checkbox"]):not(.select2-input):not(.button),
input.text_icon {
	padding-right: 24px;
}

i.text_icon {
	cursor: pointer;
	position: relative;
	display: inline-block;
	left: -24px;
	top: 1px;
}

.overflow-container {
	position: relative;
	height: 100%;
	width: 100%;
}
.existing-container {
	position: absolute;
	overflow: auto;
	bottom: 34.8em;
	top: 0;
	width: 100%;
}
.new-container {
	position: absolute;
	width: 100%;
	bottom: 11em;
	max-height: 313px;
	overflow: auto;
}
.no-bottom-margin {
	bottom: 10em;
}

#fm_user_profile .form-table td {
	vertical-align: middle;
}

#fm_user_profile .form-table td #form_username {
	position: relative;
	top: -2px;
}

#setting-row > div {
	display: inline-block;
	vertical-align: top;
	margin-top: 0.8em;
}
#setting-row .description label {
	font-weight: bold;
	font-size: 14px;
}
#settings div {
	font-size: 12px;
}
#setting-row .description {
	white-space: normal;
	width: 400px;
}
#setting-row .description p {
	margin-top: 3px;
}
#setting-row .choices {
	text-align: left;
	margin-left: 2em;
}
#setting-row span#brand_img {
	float: right;
	height: 48px;
	width: 48px;
	text-align: center;
	background-image:
		-moz-linear-gradient(45deg, #ccc 25%, transparent 25%), 
		-moz-linear-gradient(-45deg, #ccc 25%, transparent 25%),
		-moz-linear-gradient(45deg, transparent 75%, #ccc 75%),
		-moz-linear-gradient(-45deg, transparent 75%, #ccc 75%);
	background-image:
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #ccc), color-stop(.25, transparent)), 
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #ccc), color-stop(.25, transparent)),
		-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #ccc)),
		-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #ccc));

	-moz-background-size:10px 10px;
	background-size:10px 10px;
	-webkit-background-size:10px 11px;

	background-position:0 0, 5px 0, 5px -5px, 0px 5px;
}
#setting-row span#brand_img img {
	width: 48px;
	height: 48px;
}
#settings input[type="submit"] {
	margin-top: 1.5em;
}
#settings textarea {
	height: 5em;
}
#settings-section {
	border-top: 1px #ccc solid;
}
#settings-section:first-child {
	border-top: none;
}

#configtypesmenu {
	position: relative;
	font-size: 14px;
}
#configtypesmenu:nth-child(n+3) {
	top: -3px;
}

#configtypesmenu > span {
	padding: 2px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#configtypesmenu > span.selected,
#configtypesmenu > span:hover,
#configtypesmenu > div span:hover {
	background-color: #666;
}
#configtypesmenu span:hover a {
	color: #fff;
}
#configtypesmenu > span > a,
#configtypesmenu > div a {
	color: #000;
	text-decoration: none;
	padding: 2px;
}
#configtypesmenu > span > a:hover,
#configtypesmenu > div a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #666;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#configtypesmenu a.selected {
	color: #fff;
}

#configtypesmenu.log_space {
	right: 13em;
}

#configtypesmenu > form {
	margin-top: -.4em;
	font-size: 10pt;
}

#configtypesmenu.pagination {
	top: -1px;
}

#configtypesmenu.dropdown {
	top: -1px;
}

#response {
	text-align: center;
	color: #000;
	font-size: 10pt;
	margin-top: -12px;
	width: 75%;
	margin-left: 12.5%;
	background-color: #FFFBCC;
	border: 1px #E6DB55 solid;
	border-top: none;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	moz-box-shadow: 0 4px 10px -1px #ccc;
	-webkit-box-shadow: 0 4px 10px -1px #ccc;
	-khtml-box-shadow: 0 4px 10px -1px #ccc;
	box-shadow: 0 4px 10px -1px #ccc;
	z-index: 2;
}
#response p {
	margin: 0;
	padding: 3px 10px;
}
#response p:first-child {
	padding-top: 6px;
	padding-bottom: 3px;
}
#response p:last-child {
	padding-top: 3px;
	padding-bottom: 6px;
}
#response p:only-child {
	padding-top: 6px;
	padding-bottom: 6px;
}
#response p.error {
	color: red;
}
#response.static {
	position: fixed;
	left: 12.5%;
	width: 60%;
}
#response a {
	text-decoration: underline;
}

#response_close {
	float: right;
	margin-right: 7px;
	margin-top: -2px;
}
#response_close i {
	background-color: #FFFBCC;
}

#popup_response {
	text-align: center;
	color: #000;
	font-size: 10pt;
	position: absolute;
	top: 44px;
	width: 75%;
	margin-left: 11%;
	background-color: #FFFBCC;
	height: 2.3em;
	padding-top: 1px;
	line-height: 50%;
	border: 1px #E6DB55 solid;
	border-top: none;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	moz-box-shadow: 0 4px 10px -1px #ccc;
	-webkit-box-shadow: 0 4px 10px -1px #ccc;
	-khtml-box-shadow: 0 4px 10px -1px #ccc;
	box-shadow: 0 4px 10px -1px #ccc;
	z-index: 2;
}

.replace {
	display:none;
}

a {
	color: #3a62a3;
	text-decoration: none;
}

#row_actions {
	width: 55px;
	text-align: center;
	white-space: nowrap;
}
#row_actions i {
	padding: 4px;
	font-size: 18px;
	color: #c0c0c0;
}
#row_actions i.delete,
i.delete {
	color: #c11515;
}
#row_actions i.preview {
	color: #8ba7d6;
}
#row_actions i.toggle {
	color: #569b42;
}
#row_actions img {
	padding: 0 5px;
	margin-top: 2px;
}

.reload {
	border: 1px #B7B7B7 dotted;
}

#note {
	width: 70%;
	background-color: #fbffbf;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 1em auto;
	font-size: 10pt;
	text-indent: 3.2em;
	background-image: url('/fm-includes/images/Warning_Triangle_24x24.png');
	background-repeat: no-repeat;
	background-position: 10px 7px;
}

#single_line {
	font-size: 12px;
	position: relative;
	float: right;
	top: 0;
	right: 1em;
}

#single_line a {
	color: #9F9F9F;
}

.noresult {
	padding-top: 0.4em;
	text-align: center;
	font-weight: bold;
}

.manage_form_contents {
	z-index: 1002;
	position: fixed;
	left: 50%;
	top: 6em;
	margin-left: -270px;
	display: none;
	opacity: 1.0;
	min-width: 500px;
	max-width: 80%;
	max-height: 60%;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: none;
}

.manage_form_contents > p {
	margin: 20px;
}

.wide {
	margin-left: -540px;
}

.manage_form_container {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000;
	opacity: 0.66;
	z-index: 1001;
}

.popup-header {
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid #aeaeae;
	border-top-color: #b7b7b7;
	border-bottom-color: #989898;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	border-width: 0 0 1px 0;
	position: relative;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	padding: 4px 15px;
}

.popup-header h3 {
	margin: 0;
	line-height: 35px;
	font-size: 16px;
	font-weight: normal;
}

.close {
	float: none;
	border: none;
	background: none;
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	color: #c11515;
}

.popup-header .close {
	margin-top: 11px;
	float: right;
}

.popup-wait {
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #fff;
	opacity: 0.75;
	z-index: 1010;
	width: 100%;
	position: absolute;
	display: none;
}
.popup-wait i {
	position: absolute;
	top: 45%;
	left: 50%;
}

.popup-contents {
	max-height: 480px;
	overflow-y: auto;
	padding: 0 2em;
	background: #ffffff;
}

.popup-contents p.complete {
	padding: 0 10px;
}

.popup-contents > p > a {
	text-decoration: underline;
}

.popup-footer {
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	border-top-color: #b7b7b7;
	padding: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
}

.button {
	display: inline-block;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid #aeaeae;
	border-top-color: #b7b7b7;
	border-bottom-color: #989898;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.primary {
	background-image: -moz-linear-gradient(top, #53a4e2, #496e99);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53a4e2), to(#496e99));
	background-image: -webkit-linear-gradient(top, #53a4e2, #496e99);
	background-image: -o-linear-gradient(top, #53a4e2, #496e99);
	background-image: linear-gradient(to bottom, #53a4e2, #496e99);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53a4e2', endColorstr='#ff496e99', GradientType=0);
	background-color: #53a4e2;
	border: 1px solid #426d24;
	border-bottom-color: #32521b;
	border-top-color: #496e99;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.alert {
	background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e40a0a), to(#9f0202));
	background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
	background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
	background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe40a0a', endColorstr='#ff9f0202', GradientType=0);
	background-color: #e40a0a;
	border: 1px solid #426d24;
	border-bottom-color: #32521b;
	border-top-color: #9f0202;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.green {
	background-image: -moz-linear-gradient(top, #74ad5a, #5b9140);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#74ad5a), to(#5b9140));
	background-image: -webkit-linear-gradient(top, #74ad5a, #5b9140);
	background-image: -o-linear-gradient(top, #74ad5a, #5b9140);
	background-image: linear-gradient(to bottom, #74ad5a, #5b9140);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74ad5a', endColorstr='#ff5b9140', GradientType=0);
	background-color: #74ad5a;
	border: 1px solid #3b6e22;
	border-bottom-color: #32521b;
	border-top-color: #5b9140;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(51, 51, 51, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

input.disabled {
	background-image: -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);
	background-image: -o-linear-gradient(top, #fcfcfc, #f5f5f5);
	background-image: linear-gradient(to bottom, #fcfcfc, #f5f5f5);
	background-color: #fcfcfc;
	border-color: #d9d9d9;
	color: #aeaeae;
	cursor: not-allowed;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

i.star {
	padding-right: 2px;
}
i.star,
#row_actions i.fa-unlock-alt {
	color: #e8a412;
}
#row_actions i.ok,
i.ok,
i.secure {
	color: #09a30c;
}
#row_actions i.fail,
i.fail,
i.insecure {
	color: #CB3739;
}
#row_actions i.notice,
i.notice {
	color: #E2A93C;
}
i.fail {
	float: none;
}
i.popout {
	padding-right: 2px;
}

#plus {
	padding: 0 5px;
	position: relative;
	top: 1px;
	z-index: 3;
}
#plus i.default {
	color: #fff;
	background: #3a62a3;
	padding: 2px 4px;
	position: relative;
	top: -4px;
	left: 5px;
	font-size: 9px;
	font-style: normal;
	font-family: "Open Sans",sans-serif;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

p#table_edits {
	font-size: 11px;
}

#form_username span {
	margin-top: -5px;
}

#help, #fm_mailing_options, #fm_proxy_options,
#mail_smtp_auth_options, #auth_ldap_options, #ldap_group_require_options,
#auth_fm_options, #software_update_options,
#help_file_container ul li div,
.hidden {
	display: none;
}

span.installed {
	color: green;
}

span.not_installed {
	color: red;
}

#datemenu {
	float: right;
	position: relative;
	top: -2em;
	font-size: 11pt;
	margin-bottom: -2em;
}

#datemenu a {
	text-decoration: none;
	padding: 3px;
	font-size: 8pt;
}
#datemenu a:hover {
	color: #000;
}

#userperms {
	margin-left: 21em;
}

#userperms th {
	text-transform: none;
}

#userperms td, .form-table td label {
	font-size: 11px;
	white-space: nowrap;
}

#userperms p {
	font-size: 12pt;
}

#shadow_box.fullwidthbox {
	min-width: 100%;
	max-width: 100%;
}

.existing-container #shadow_box {
	margin: 0 .3em;
	min-width: 99%;
}

#shadow_container.fullwidthbox {
	line-height: 10pt;
	padding: 0;
	text-align: center;
}

#shadow_container.note {
	padding: 0 1em;
	text-align: left;
}
#shadow_container.note b {
	color: #e19419;
}

#shadow_box {
	-moz-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	-webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
	box-shadow: rgba(0,0,0,.30) 0 2px 3px !important;
	-moz-box-shadow: rgba(0,0,0,.30) 0 2px 3px !important;
	-webkit-box-shadow: rgba(0,0,0,.30) 0 2px 5px !important;
	margin-top: .6em;
}

#shadow_container {
	background-color: #fff;
	padding: 0 1.5em .5em;
	border: 1px solid #fff;
	background: #F6F6F6;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(50%,rgba(249, 249, 249, 1)),color- stop(100%,rgba(240, 240, 240, 1)));
	background: -webkit-linear-gradient(top,rgba(249, 249, 249, 1) 50%,rgba(240, 240, 240, 1) 100%);
	background: -moz-linear-gradient(top,rgba(249, 249, 249, 1) 50%,rgba(240, 240, 240, 1) 100%);
	background: -o-linear-gradient(top,rgba(249, 249, 249, 1) 50%,rgba(240, 240, 240, 1) 100%);
	background: -ms-linear-gradient(top,rgba(249, 249, 249, 1) 50%,rgba(240, 240, 240, 1) 100%);
	background: linear-gradient(top,rgba(249, 249, 249, 1) 50%,rgba(240, 240, 240, 1) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.97) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.97) !important;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.97) !important;

	padding: 1em;
	padding-left: 2em;
	font-size: 10pt;
	line-height: 18pt;
	overflow: auto;
}

#shadow_container h3 {
	font-size: 14px;
	color: #A30000;
	margin-top: 0;
}

#help {
	position: fixed;
	top: 1.5em;
	bottom: 0;
	right: 0em;
	width: 300px;
	height: 100%;
	background-color: #FEFEFE;
	border-left: 1px #DDD solid;
	z-index: 3;
	moz-box-shadow: rgba(200,200,200,0.7) -2px 0 3px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) -2px 0 3px -1px;
	-khtml-box-shadow: rgba(200,200,200,0.7) -2px 0 3px -1px;
	box-shadow: rgba(200,200,200,0.7) -2px 0 3px -1px;
	overflow: hidden;
}

#help a {
	text-decoration: underline;
}

#help_topbar {
	height: 2.5em;
	background-color: #464646;
	border-bottom: 1px #464646 solid;
	border-top: 1px #464646 solid;
	color: #fff;
	padding: 10px;
	moz-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-webkit-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	-khtml-box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
	box-shadow: rgba(200,200,200,0.7) 2px 0 3px -1px;
}

#help_topbar p {
	float: left;
	width: 50%;
}

#help_topbar p.title {
	font-size: 10pt;
	font-weight: bold;
	text-shadow: 0 -1px 0 #333;
	padding-top: 4px;
}

#help_buttons {
	text-align: right;
	float: right;
	width: 49%;
	margin-top: 18px;
}

#help_file_container {
	padding: 1em;
	font-size: 9pt;
	overflow-y: auto;
	height: 90%;
	width: 90%;
}

#help_file_container ul {
	list-style: none;
	margin-bottom: 3em;
	padding: 0;
}

#help_file_container li {
	list-style: none;
	border-bottom: 1px #ccc solid;
	padding: 0 5px;
}

#help_file_container li:first-child {
	border-top: 1px #ccc solid;
}

#help_file_container li a.list_title {
	cursor: pointer;
	line-height: 24pt;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

#help_file_container li p {
	padding: 0;
}

#help_file_container h3 {
	font-size: 14px;
	color: #4C4C4C;
	margin-top: 0;
}
#help_file_container ul li ul li {
	padding: 5px;
}

#pagination_container,
#search_form_container,
div.fm-table {
	display: table;
	width: 100%;
}

#pagination_container,
#search_form_container {
	white-space: nowrap;
	margin-bottom: 2px;
	position: relative;
}
#pagination_container > div,
#search_form_container > div,
div.fm-table > div {
	display: table-row;
}
#pagination_container > div > div,
#search_form_container > div > div,
div.fm-table > div > div {
	display: table-cell;
}
#pagination_container > div > div {
	padding: 0 .5em;
}
#pagination_container > div > div:first-child,
div.fm-table > div > div:first-child {
	padding: 0 .5em 0 0;
}
#pagination_container > div > div:last-child,
div.fm-table > div > div:last-child {
	padding: 0 0 0 .5em;
}
div.fm-table > div > div:first-child:nth-last-child(1) {
	width: 100%;
	padding: 0;
}
div.fm-table > div > div:first-child:nth-last-child(2) {
	width: 48%;
}
div.fm-table > div > div:first-child:nth-last-child(3) {
	width: 32%;
}
div.fm-table > div > div.fm-half {
	width: 50%;
}
#pagination_container > div > div:last-child {
	text-align: right;
}
#pagination_container > div > div:nth-child(2) {
	width: 100%;
}

#pagination_container.submenus {
	top: -31px;
	position: relative;
	margin-bottom: -1.6em;
}
#pagination_container div.stretch {
	width: 100%;
}

#pagination_container #configtypesmenu.nopadding {
	padding: 0;
}

#pagination {
	font-size: 11px;
	color: #666;
	font: 11px/20px sans-serif;
	height: 30px;
}

#pagination a, #pagination .current {
	display: inline-block;
	padding: 0 9px;
	margin-left: 4px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
	background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

#pagination a:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

#pagination .current {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
#pagination input {
	width: 20px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	margin-left: 5px;
}
#pagination span {
	font-style: italic;
	color: #bbb;
}

#pagination > form {
	margin-top: 3px;
}

#search_form_container {
	z-index: 100;
	display: none;
	border: none;
	width: 19em;
	position: relative;
	float: right;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#search_form_container > div {
	width: 100%;
}

#search_form_container .search_icon,
#search_form_container .search_remove,
#search_form input[type=text] {
	color: #f0f0f0;
}

#search_form {
	width: 100%;
	position: relative;
	top: 1px;
}

#search_form > form {
	padding-left: .5em;
	position: relative;
}

#search_form input[type=text] {
	width: 100%;
	border: 1px #555 solid;
	line-height: 20px;
	background-color: rgba(63,63,63,0.5);
	padding: 0 24px 0 4px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#search_form_container .search_remove {
	top: -1px;
}

.highlighted {
	background-color: #fffe40;
}
.no_results {
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
}

table.log_search_form {
	text-align: center;
}
table.log_search_form th {
	text-align: center;
	font-size: 11px;
}

#passwd_check {
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 150px;
	text-align: center;
	font-size: 12px;
}

th {
	text-transform: capitalize;
}

pre {
	padding: 10px;
}

#scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 48px;
	height: 48px;
	z-index: 99;
	
	background: url('../images/to-top.png') no-repeat;
	opacity: 0;
	-ms-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	
	#scroll-to-top {
		background-image: url(../images/to-top-retina.png);
		background-size: 48px 48px;
	}

}

#scroll-to-top.displayed {
	opacity: 1 !important;
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

#bulk_action {
	font-size: 13px;
	height: 28px;
}

.add_more {
	font-size: 12px;
}

#issue_tracker {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	color: #888888;
	text-align: center;
	background: #ffffff;
	width: 100%;
}
#issue_tracker a {
	color: #999;
}
#help #issue_tracker {
	position: absolute;
	width: auto;
	padding-top: 5px;
	padding-bottom: 20px;
}

.select2-drop {
	white-space: nowrap;
}

.search-form {
	position: absolute;
	top: 11px;
	float: right;
	margin-bottom: -2.6em;
	right: 22px;
}

.valid_error {
	color: #CB3739;
}

.valid_message {
	color: #008500;
}

#bulk_apply {
	margin-left: 3px;
}

.no-left-pad td:first-child, .no-left-pad th:first-child {
	padding-left: 0;
}

.mini-icon {
	color: #c0c0c0;
}

/** Sub elements */
.subelements td p {
	margin: 0 0 0 .5em;
}

.subelements p span.record-additions {
	color: green;
	font-size: 8pt;
}
.subelements p span.record-additions:before {
	content: '+';
}

.subelements p span.record-subtractions {
	color: red;
	font-size: 8pt;
}
.subelements p span.record-subtractions:before {
	content: '-';
}
p[class^=subelement] span:first-child {
	margin-right: 7px;
}

i.subelement_remove,
i#build,
a.subelement_edit img {
	cursor: pointer;
}

.tooltip-top, .tooltip-bottom, .tooltip-left, .tooltip-right {
	color: #aaa;
}

#config_check {
	margin: 10px;
	padding: 3px;
	font-size: 10pt;
	border: 1px #C1DCC1 solid;
	background-color: #E6F6E6;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-image: url('../../facileManager/images/greenshield64.png');
	background-repeat: no-repeat;
	background-attachment: local;
	min-height: 59px;
	overflow: auto;
}
#config_check p {
	padding-left: 5em;
}
#config_check.info {
	border-color: #E6E678;
	background-color: #FFFFE5;
	background-image: url('../../facileManager/images/yellowshield64.png');
	background-repeat: no-repeat;
}
#config_check.error {
	border-color: #B22400;
	background-color: #EAC1B7;
	background-image: url('../../facileManager/images/redshield64.png');
	background-repeat: no-repeat;
}
#config_check pre {
	margin-left: 6.5em;
	padding: 0;
	font-size: 9pt;
}

#tabs {
	position: relative;
	min-height: 300px;
	clear: both;
	margin: 25px 0;
}
#tab {
	float: left;
	padding: 0 3px;
}
#tab [type=radio] {
	display: none;
}
#tab [type=radio] ~ label{
	padding: 2px 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	color: #000;
}
#tab [type=radio] ~ label:hover {
	border: 1px solid #4F4F4F;
	background-color: #666;
	color: #fff;
}
#tab [type=radio]:checked ~ label {
	z-index: 2;
	border: 1px solid #4F4F4F;
	background-color: #666;
	color: #fff;
}
#tab [type=radio] ~ label ~ #tab-content {
	display: none;
}
#tab [type=radio]:checked ~ label ~ #tab-content {
	z-index: 1;
	display: block;
}
#tab-content {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-top: 1px #ccc solid;
	margin-top: 5px;
}

.nowrap {
	white-space: nowrap;
}

.tooltip-copy {
	z-index: 1000;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Tooltip text */
.tooltip-copy span {
	z-index: 1001;
	visibility: hidden;
	min-width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -120px;
	margin-bottom: 12px;
	background-color: #D0D0D0;
	color: #000;
	text-align: left;
	padding: 7px 10px;
	border-radius: 3px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	cursor: text;
	opacity: 0;
	transition: opacity .5s;
}

.tooltip-copy span::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 115px;
	border-width: 5px;
	border-style: solid;
	border-color: #D0D0D0 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-copy:hover span {
	visibility: visible;
	opacity: 1;
}

.tooltip-copy p {
	margin-bottom: 0;
	font-size: 10px;
}
.tooltip-copy textarea {
	white-space: nowrap;
	min-width: 40em;
}

/** Firefox hacks :( */
@-moz-document url-prefix() {
	#search_form_container {
		width: 16.5em;
	}
}

