html {
	background: #464646;
}

body {
	color: #D0D0D0;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	margin: 0em auto;
	width: 500px;
}

table {
	border-collapse: collapse;
	width: 80%;
}

table th {
	text-align: left;
}

table td {
	padding: 3px 1em !important;
}

table input[type=text],
table input[type=password],
table input[type=email],
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 9px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	height: 32px;
	resize: none;
	width: 200px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #B0B0B0;
	border-top-color: #B3B3B3;
	border-bottom-color: #B1B1B1;
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.25);
}

textarea {
	width: 450px;
	height: auto;
}

p {
	padding-bottom: 2px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #a0a0a0;
}

code {
	font-size: 14px;
}

.center {
	text-align: center;
}

p.step {
	margin: 2.5em 0 0;
}

strong {
	color: red;
	font-size: 10pt;
}

.button {
	display: inline-block;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid #aeaeae;
	border-top-color: #b7b7b7;
	border-bottom-color: #989898;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#fm-branding {
	position: absolute;
	bottom: 70%;
}

#fm-branding img {
	width: 48px;
}
#fm-branding span {
	color: #D0D0D0;
	position: relative;
	font-size: 30px;
	left: 10px;
	bottom: 13px;
}
#fm-branding span i {
	padding-right: 3px;
}

#window {
	position: absolute;
	top: 30%;
	width: 500px;
}

#footer {
	display: none;
}


#forgotton_link a {
	font-size: 8pt;
}

#message p {
	margin: 0;
	text-align: center;
}

.status {
	width: 15px;
}
.failed,
.failed a {
	color: #CB3739;
}
.failed i {
	cursor: pointer;
}

.success {
	color: #5CAF5C;
}

#passwd_check {
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 190px;
	text-align: center;
}

.form-table tr.pwdhint th, .form-table tr.pwdhint td {
	font-size: 8pt;
	vertical-align: top;
}

.error-message {
	width: 15px;
}
