html {
	background: #464646;
}

body {
	color: #D0D0D0;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	margin: 0em auto;
	width: 500px;
}

table {
	border-collapse: collapse;
	width: 80%;
}

table th {
	text-align: left;
}

table td {
	padding: 3px 1em !important;
}

table input[type=text],
table input[type=password],
table input[type=email],
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 9px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	height: 32px;
	resize: none;
	width: 200px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #B0B0B0;
	border-top-color: #B3B3B3;
	border-bottom-color: #B1B1B1;
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.25);
}

textarea {
	width: 450px;
	height: auto;
}

p {
	padding-bottom: 2px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #a0a0a0;
}

code {
	font-size: 14px;
}

.center {
	text-align: center;
}

p.step {
	margin: 2.5em 0 0;
}

strong {
	color: red;
	font-size: 10pt;
}

.button {
	display: inline-block;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: -o-linear-gradient(top, #f5f5f5, #dcdcdc);
	background-image: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffdcdcdc', GradientType=0);
	background-color: #e9e9e9;
	border: 1px solid #aeaeae;
	border-top-color: #b7b7b7;
	border-bottom-color: #989898;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#fm-branding {
	position: absolute;
	bottom: 70%;
}

#fm-branding span {
	color: #D0D0D0;
	position: relative;
	left: 10px;
	bottom: 13px;
	font-size: 30px;
}

#window {
	position: absolute;
	top: 30%;
	width: 500px;
}

#footer {
	display: none;
}


#forgotton_link a {
	font-size: 8pt;
}

#message p {
	margin: 0 0 -.5em 0;
	text-align: center;
}

.status {
	width: 15px;
}
.failed,
.failed a {
	color: #CB3739;
}
.failed i {
	cursor: pointer;
}

.success {
	color: #5CAF5C;
}

#passwd_check {
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 190px;
	text-align: center;
}

.form-table tr.pwdhint th, .form-table tr.pwdhint td {
	font-size: 8pt;
	vertical-align: top;
}

.error-message {
	width: 15px;
}

/* Tool tips
 * http://cbracco.me/a-simple-css-tooltip/
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
	position: relative;
	cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: 
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform:    translate3d(0, 0, 0);
	transform:         translate3d(0, 0, 0);
	pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
	z-index: 1000;
	padding: 12px;
	width: 265px;
	background-color: #D0D0D0;
	color: #000;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
	bottom: 100%;
	left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #D0D0D0;
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
	margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform:    translateY(-12px);
	transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
	right: 100%;
	bottom: 50%;
	left: auto;
}

.tooltip-left:before {
	margin-left: 0;
	margin-right: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-left-color: #D0D0D0;
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
	-webkit-transform: translateX(-12px);
	-moz-transform:    translateX(-12px);
	transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}

.tooltip-bottom:before {
	margin-top: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #D0D0D0;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform:    translateY(12px);
	transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
	bottom: 50%;
	left: 100%;
}

.tooltip-right:before {
	margin-bottom: 0;
	margin-left: -12px;
	border-top-color: transparent;
	border-right-color: #D0D0D0;
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform:    translateX(12px);
	transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
	top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}