.Ocean {
	/* Synonym for default-theme */
}

.Mars {
	/* Common color changes */
	--top-header-bg: light-dark(var(--menu-divider), #322626);
	--table-header-border: light-dark(#fff, var(--menu-divider));

	--menu-bg: #352f2f;
	--menu-divider: #583b3b;
	--menu-select-highlight: light-dark(#bc3b3b, #a24141);
	--menu-expand-bg: #ebe4e4;
	--submenu-hover: #915353;

	--tooltip-bg: #a45e5e;
	--tooltip-text: #fff;

	--info-icon: light-dark(#a33a3a, #cd5454);
}

.Forest {
	/* Common color changes */
	--top-header-bg: light-dark(var(--menu-divider), #252b24);
	--table-header-border: light-dark(#fff, var(--menu-divider));

	--menu-bg: #2f352f;
	--menu-divider: #3d583b;
	--menu-select-highlight: light-dark(#44bc3b, #369a2e);
	--menu-expand-bg: #e4ebe4;
	--submenu-hover: #45753b;

	--tooltip-bg: light-dark(#5ea46a, #40844b);
	--tooltip-text: #fff;

	--info-icon: #45a33a;
}

.Beach {
	/* Common color changes */
	--top-header-bg: light-dark(var(--menu-divider), #342c25);
	--table-header-border: light-dark(#fff, var(--menu-divider));

	--menu-bg: #35322f;
	--menu-divider: #7e532b;
	--menu-select-highlight: light-dark(#e99127, #d5811b);
	--menu-expand-bg: #ebe8e4;
	--submenu-hover: light-dark(#c7914f, #a57943);

	--tooltip-bg: #a4815e;
	--tooltip-text: #fff;

	--info-icon: #d37a37;
}

.Plum {
	/* Common color changes */
	--top-header-bg: light-dark(var(--menu-divider), #322c36);
	--table-header-border: light-dark(#fff, var(--menu-divider));
  
	--menu-bg: #332f35;
	--menu-divider: #513b58;
	--menu-select-highlight: light-dark(#9755c0, #8652a6);
	--menu-expanded-bg: light-dark(#e8e4eb, #535353);
	--menu-expanded-text: light-dark(var(--menu-bg), var(--menu-link));
	--submenu-hover: #705684;

	--tooltip-bg: #7d5ea4;
	--tooltip-text: #f8f8f8;

	--info-icon: light-dark(#733aa3, #ac92c3);
}
