.Ocean {
	/* Synonym for default-theme */
}

.Mars {
	/* Common color changes */
	--top-header-bg: #583b3b;
	--top-header-border: #433838;
	--top-header-divider: #5c5656;
	--top-header-search-bg: #765353;
	--top-header-search-border: #9e6262;
	--table-header-border: #fff;

	--menu-bg: #352f2f;
	--menu-divider: #583b3b;
	--menu-select-highlight: #bc3b3b;
	--menu-expand-bg: #ebe4e4;
	--submenu-hover: #915353;

	--tooltip-bg: #a45e5e;
	--tooltip-text: #fff;

	--info-icon: #a33a3a;
}

.Forest {
	/* Common color changes */
	--top-header-bg: #3d583b;
	--top-header-border: #384338;
	--top-header-divider: #565c56;
	--top-header-search-bg: #56865c;
	--top-header-search-border: #679E62;
	--table-header-border: #fff;

	--menu-bg: #2f352f;
	--menu-divider: #3b583b;
	--menu-select-highlight: #44bc3b;
	--menu-expand-bg: #e4ebe4;
	--submenu-hover: #45753b;

	--tooltip-bg: #5ea46a;
	--tooltip-text: #fff;

	--info-icon: #45a33a;
}

.Beach {
	/* Common color changes */
	--top-header-bg: #7e532b;
	--top-header-border: #433f38;
	--top-header-divider: #5c5956;
	--top-header-search-bg: #8e7143;
	--top-header-search-border: #cda445;
	--table-header-border: #fff;

	--menu-bg: #35322f;
	--menu-divider: #584b3b;
	--menu-select-highlight: #e99127;
	--menu-expand-bg: #ebe8e4;
	--submenu-hover: #c7914f;

	--tooltip-bg: #a4815e;
	--tooltip-text: #fff;

	--info-icon: #d37a37;
}

.Plum {
	/* Common color changes */
	--top-header-bg: light-dark(#513b58, #322c36);
	--top-header-border: light-dark(#3f3843, #393939);
	--top-header-divider: light-dark(#5a565c, #595660);
	--top-header-search-bg: light-dark(#6c5876, var(--form-field-bg));
	--top-header-search-border: light-dark(#7e6b88, var(--form-input-border));
  
	--menu-bg: #332f35;
	--menu-divider: #4b3b58;
	--menu-select-highlight: #9755c0;
	--menu-expanded-bg: #e8e4eb;
	--menu-expanded-text: var(--menu-bg);
	--submenu-hover: #705684;

	--tooltip-bg: #7d5ea4;
	--tooltip-text: #f8f8f8;

	--info-icon: #733aa3;
}
