#tabs {
	position: relative;
	min-height: 300px;
	clear: both;
	margin: 25px 0;
}
#tab {
	float: left;
	padding: 0 3px;
}
#tab [type=radio] {
	display: none;
}
#tab [type=radio] ~ label{
	padding: 2px 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	color: #000;
}
#tab [type=radio] ~ label:hover {
	border: 1px solid #4F4F4F;
	background-color: #666;
	color: #fff;
}
#tab [type=radio]:checked ~ label {
	z-index: 2;
	border: 1px solid #4F4F4F;
	background-color: #666;
	color: #fff;
}
#tab [type=radio] ~ label ~ #tab-content {
	display: none;
}
#tab [type=radio]:checked ~ label ~ #tab-content {
	z-index: 1;
	display: block;
}
#tab-content {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border-top: 1px #ccc solid;
	margin-top: 5px;
}
.range_input {
	margin-bottom: 8px;
}

td > .mini-icon {
	margin-left: 7px;
}
